<div class="mainElement" style="margin-top:248px; width:20%;">

	<div class="item1">
		<div>
			<p>Szczelność<br>Budynku</p>
		</div>
		<div>
			<div id="suw_szczelosc_bud"></div>
		</div>
	</div>

	<p>&nbsp;</p>

	<div class="item1">
		<div>
			<p>Wentylacja</p>
		</div>
		<div>
			<div id="suw_wentylacja"></div>
		</div>
	</div>

</div>


<div style="position:absolute; z-index:3; right:0; top:0; margin:20px;">
	<app-rotator></app-rotator>
</div>


<div style="position:absolute; right:0; bottom:0; width: 50%; background-color:#01bab2; border:5px solid #fff;" class="pd20 c-white">

	Ilość produkowanej wilgoci <span class="bold">130 g/h | 89 g<sup>3</sup></span>

	<br><br>

	Parametry powietrza wewnętrznego zmieszanego <span class="bold">45%</span>

	<div style="background:url(assets/img/air_layer_bg1.png) center top repeat-y; background-size:contain; border:2px solid #fff;" class="mgt10">
		<div><img src="assets/img/air_suw_arr.png" alt="" title="" style="position:relative; top:-4px; left:200px;"></div>
	</div>

	<p>&nbsp;</p>

	Q<sub>ves,n</sub> - straty przez wentylację:&nbsp;<span class="bold">200 kWh/rok</span>

	<br><br>

	Poziom CO<sub>2</sub>:&nbsp;<span class="bold">600 ppm</span>

	<div style="background:url(assets/img/air_layer_bg2.png) center top repeat-y; background-size:contain; border:2px solid #fff;" class="mgt10">
		<div><img src="assets/img/air_suw_arr.png" alt="" title="" style="position:relative; top:-4px; left:300px;"></div>
	</div>


	<p>&nbsp;</p>
	
	<div class="tbl full">
		<div class="td c m pdr20">

			<button (click)="clickBtn('zalozenia');">Założenia wyliczeń</button>

		</div>
		<div class="td c m">

			<button (click)="clickBtn('wyliczenia');">Zobacz szczegółowe wyliczenia</button>

		</div>
	</div>

	<p>&nbsp;</p>

</div>