input[type=text], input[type=number]
	{border: none; width: 100%; padding: 5px; box-sizing:border-box; outline: none;}

input[type=number]
	{font-weight:700;}

.inputOutline
	{border:1px solid #dddddd; height: 40px;}

.bd
	{border:5px solid #6d6d6d;}
.bd-l
	{border-left:5px solid #6d6d6d;}
.bd-t
	{border-top:5px solid #6d6d6d;}
.bd-r
	{border-right:5px solid #6d6d6d;}
.bd-b
	{border-bottom:5px solid #6d6d6d;}