<div class="tbl full res_b bd-l bd-b" id="currentPage">
	<div class="td l t half bd-t bd-r">
		
		<div class="fadeIn contentPadding" style="background-color:#fff;">

			<ng-container *ngTemplateOutlet="elements"></ng-container>

		</div>

	</div>
	<div class="td l t bd-t bd-r" style="height:100%;" id="rightSide">
		
		<div class="tbl full fullh" id="rightSideContent">
			<div class="tr">
				<div class="td" style="height:50%; padding:5px; background-color:#fff;">
					
					<app-house-image></app-house-image>

				</div>
			</div>
			<div class="tr">
				<div class="td bd-t" style="background-color:#fff; padding:5px;">
					
					<ng-container *ngTemplateOutlet="description"></ng-container>

				</div>
			</div>
		</div>		

	</div>
</div>

<ng-template #elements>
	
	<div class="tbl mgb10">
		<div class="td m"><img src="assets/img/ico_map.png" alt="" title=""></div>
		<div class="td m pdl10">
			<p class="bold">Lokalizacja</p>
			<p class="f-min">Wpisz adres lokalizacji lub wskaż na mapie</p>
		</div>
	</div>

	<div class="inputOutline">
		<div class="tbl full">
			<div class="td m">
				<input type="text" (keyup.enter)="clickSearch();" value="{{params.findAddressStr}}" (input)="onChangeInputData('address', $event.target)" id="addressInput">
			</div>
			<div class="td c m" style="width:40px; height:40px; background-color:#ff582b;"><i class="fa fa-search c-white f-plus href" aria-hidden="true" (click)="clickSearch();"></i></div>
		</div>		
	</div>

	<app-gg-map [heightMap]="300"></app-gg-map>
	
	<div class="tbl mgt30 mgb10">
		<div class="td m"><img src="assets/img/ico_position.png" alt="" title=""></div>
		<div class="td m pdl10">
			<p class="bold">Położenie budynku</p>
			<p class ="f-min">Wybierz w którą stronę świata zwrócony jest budynek</p>
		</div>
	</div>

	
	<div class="center" style="background:url(assets/img/params_grass.jpg) center center; background-size:cover; position:relative;">
		
		<img src="assets/img/params_rose.png" alt="" title="" class="scale">
		
		<img src="assets/img/params_house.png" alt="" title="" style="position:absolute; left:calc(50% - 90px); top:calc(50% - 90px);" id="houseRotator">

		<img src="assets/img/params_arr_minus.png" alt="" title="" style="position:absolute; left:calc(10%); bottom: 20px;" class="href" (click)="clickArrow(-1);">
		<img src="assets/img/params_arr_plus.png" alt="" title="" style="position:absolute; right:calc(10%); bottom: 20px;" class="href" (click)="clickArrow(1);">
	
	</div>


	<!--
	<div style="position:relative;" id="mapHouse">		

		<img src="assets/img/params_rose.png" alt="" title="" class="scale">
		<img src="assets/img/params_house.png" alt="" title="" style="position:absolute; left:calc(50% - 90px); top:calc(50% - 90px); z-index:2;" id="houseRotator">
		<img src="assets/img/params_arr_minus.png" alt="" title="" style="position:absolute; left:40px; bottom: 20px; z-index:3;" class="href" (click)="clickArrow(-1);">
		<img src="assets/img/params_arr_plus.png" alt="" title="" style="position:absolute; right:40px; bottom: 20px; z-index:4;" class="href" (click)="clickArrow(1);">
		
		<div style="position:absolute; left:0; top:0; width:100%; z-index:1;">
			<app-gg-map [heightMap]="elementMapWidth"></app-gg-map>
		</div>
	
	</div>
-->

	
	<div class="mgt30">
	<app-persons-count></app-persons-count>
	</div>
	
	<div class="mgt30" style="background-color:#000; padding:10px;">
		<div class="tbl full res_b">
			<div class="td c c-white bold">
				Rozpoczynasz konfigurację budynku,<br>
				którego techniczne parametry startowe<br>
				spełniają minimalne wymogi<br>
				Warunków Technicznych 2021
			</div>
			<div class="td">&nbsp;</div>
			<div class="td m c">
				<span (click)="clickNextButton();" class="f-plus c-white bold href">DALEJ</span>
			</div>
		</div>
	</div>


</ng-template>

<ng-template #description>

	<div class="tbl full fullh res_a">
		<div class="td l t half pd20">
			
			<p class="upper bold mgb30">Dom jednorodzinny<br>z poddaszem użytkowym</p>

			<p>Minimalistyczny design połączony z klasyczną bryłą domu o dwuspadowym dachu. 
			<br><br>
			Funkcjonalne wnętrze o otwartym układzie, <br>
			który podnosi komfort życia. 
			<br><br>
			Dom niskoenergetyczny H1 wybudowany przez firmę EcoReadyHouse zgodnie z wymaganiami standardu Multi Comfort Saint-Gobain.
			</p>

		</div>
		<div class="td c t pd20 c-white" style="background-color:#6d6d6d;">
			
			<p>Nazwa budynku</p>
			<p class="bold">{{descData.buildingName}}</p>

			<p class="mgt20">Lokalizacja</p>
			<p class="bold">{{descData.buildingLoc || "---"}}</p>

			<p class="mgt20">Typ budynku</p>
			<p class="bold">{{descData.buildingType}}</p>

			<p class="mgt20">Technologia</p>
			<p class="bold">{{descData.buildingTechn}}</p>

			<p class="mgt20">Powierzchnia</p>
			<p class="bold">{{descData.buildingPow}} m2</p>

			<p class="mgt20">Rok oddania do użytku</p>
			<p class="bold">{{descData.buildingYear}}</p>

			<p class="mgt20">Wykonawca</p>
			<p class="bold">{{descData.buildingWyk}}</p>

		</div>
	</div>

</ng-template>