<div class="mainElement" style="margin-top:340px; position:relative; z-index:2;">

	<div class="item1">
		<div>
			<p>Ściana zewnętrzna</p>
			<p>Współczynnik R<sub>w</sub></p>
		</div>
		<div>
			<div id="suw_sciana"></div>
		</div>
	</div>

	<p>&nbsp;</p>

	<div class="tbl full">
		<div class="td l m pdr10 bold upper f-min">Okna</div>
		<div class="td m" style="width:100%;"><hr></div>
	</div>


	<div class="item1">
		<div>
			<p>Powierzchnia</p>
		</div>
		<div>
			<div id="suw_powierzchnia"></div>
		</div>
	</div>

	<p>&nbsp;</p>

	<div class="item1">
		<div>
			<p>Pakiet szybowy</p>
		</div>
		<div>
			<div id="suw_szyby"></div>
		</div>
	</div>

	<p>&nbsp;</p>

	<div class="item1">
		<div>
			<p>R<sub>w</sub>[dB]</p>
		</div>
		<div>
			<div id="suw_rw"></div>
		</div>
	</div>

	<hr class="mgt20 mgb20">

	<div class="item1">
		<div>
			<p>Otoczenie</p>
		</div>
		<div>
			<div id="suw_otoczenie"></div>
		</div>
	</div>

</div>

<div style="position:absolute; z-index:2; right:0; bottom:0; margin:20px;">
	<button (click)="clickBtnRaport();">Zobacz szczegółowy raport</button>
</div>

<div style="position:absolute; z-index:1; right:0; top:0; width: 100%; box-sizing:border-box;" class="pd20 c-white right">

	<div class="ib mglat center pdr100">

		<div class="tbl mgat">
			<div class="td m pdr20"><input type="checkbox" id="ch_gora"></div>
			<div class="td"><label for="ch_gora"><img src="assets/img/aku_road_h.jpg" alt="" title=""></label></div>
		</div>

		<div class="tbl">
			<div class="td m c">
				<input type="checkbox" id="ch_left">
				<br><br>
				<label for="ch_left"><img src="assets/img/aku_road_v.jpg" alt="" title=""></label>
			</div>
			<div class="td">
				<div style="background:url(assets/img/aku_home.jpg); width:585px; height:710px; position:relative;">
					
					<div style="position:absolute; left:110px; top:100px; width:372px; height:230px; background:rgba(255,0,0,0.5);">nie</div>
					<div style="position:absolute; left:110px; top:433px; width:140px; height:180px; background:rgba(7,154,0,0.5);">ok</div>
					<div style="position:absolute; left:337px; top:433px; width:144px; height:180px; background:rgba(7,154,0,0.5);">ok</div>

					<img src="assets/img/sound.png" alt="" title="" style="position:absolute; left:250px; top:-60px; rotate:270deg;" id="sound_mark_1">
					<img src="assets/img/sound.png" alt="" title="" style="position:absolute; left:510px; top:310px; rotate:0deg;" id="sound_mark_2">
					<img src="assets/img/sound.png" alt="" title="" style="position:absolute; left:250px; top:640px; rotate:90deg;" id="sound_mark_3">
					<img src="assets/img/sound.png" alt="" title="" style="position:absolute; left:-60px; top:310px; rotate:180deg;" id="sound_mark_4">

				</div>
			</div>
			<div class="td m">
				<input type="checkbox" id="ch_right">
				<br><br>
				<label for="ch_right"><img src="assets/img/aku_road_v.jpg" alt="" title=""></label>
			</div>
		</div>

		<div class="tbl mgat">
			<div class="td m pdr20"><input type="checkbox" id="ch_bottom"></div>
			<div class="td"><label for="ch_bottom"><img src="assets/img/aku_road_h.jpg" alt="" title=""></label></div>
		</div>		
	
	</div>

</div>