	<div class="tbl full res_c">
		<div class="td">
			<div class="tbl">
				<div class="td m"><img src="assets/img/ico_users.png" alt="" title=""></div>
				<div class="td m pdl10">
					<p class="bold">Ilość osób w budynku</p>
					<p class ="f-min">Wpisz liczbę osób przebywających w budynku</p>
				</div>
			</div>
		</div>
		<div class="td">&nbsp;&nbsp;&nbsp;&nbsp;</div>
		<div class="td m inputOutline">
			<div class="ib " style="margin:auto; width:100%;">
				<input type="number" value="{{count_persons}}" step="1" (input)="onChangeInputData($event.target)" min="1" max="100" pattern="[0-9]{1,2}">
			</div>
		</div>
	</div>	