.item p.n
	{text-transform:uppercase; font-size:0.8em;}
.item p.d
	{padding-bottom:4px;}



button
	{box-sizing:border-box; padding:10px; background-color:#014090; color:#fff; text-transform:uppercase; font-weight:700; font-size:0.9em; border: none; cursor: pointer;}


.bd
	{border:5px solid #014090;}
.bd-l
	{border-left:5px solid #014090;}
.bd-t
	{border-top:5px solid #014090;}
.bd-r
	{border-right:5px solid #014090;}
.bd-b
	{border-bottom:5px solid #014090;}