<div class="tbl full res_a bd-l bd-b" id="currentPage">
	<div class="td l t bd-t bd-r" style="width:30%; min-width:400px;">
		
		<div class="fadeIn" style="background-color:#fff; padding:20px;">

			<ng-container *ngTemplateOutlet="elements"></ng-container>

			<p>&nbsp;</p>
			<hr>

			<div class="mgt30">
				<img src="assets/img/tmp_wiz.png" alt="" title="" class="scale full">
			</div>

			<div class="mgt30">
				<app-data-sheet></app-data-sheet>
			</div>			

		</div>

	</div>
	<div class="td l t bd-t bd-r" style="height:100%; background:url(assets/img/wiz_bg.png);" id="rightSide">
		
		<div>

			<div class="tbl full res_c">
				<div class="td center-res" style="padding:20px;">
					<img src="assets/img/wiz_w.png" alt="" title="">
				</div>
				<div class="td m c">
					<img src="assets/img/wiz_skala.png" alt="" title="" class="scale">
				</div>
				<div class="td r m center-res">
					<app-rotator></app-rotator>
				</div>
			</div>

			<div style="background-color:rgba(1,64,144, 0.5);" class="center c-white pd20 mg20">
				Orientacja bydynku jest zgodna z wyborem użytkownika na początku aplikacji.
			</div>

			<div class="mgt50">
				<img src="assets/img/wiz_home.png" alt="" title="" style="width:100%; max-width:100%;">
			</div>


			<div style="margin-top:20px;" class="right pd20">
				<button (click)="clickBtnRaport();">Szczegółowy raport</button>
			</div>					
			

		</div>

		<!--
		<div class="tbl full fullh">
			<div class="tr">
				<div class="td" style="height:50%; padding:5px; background-color:#fff; position:relative;" id="rightSideHouse">

		
					
					<app-house-image></app-house-image>

				</div>
			</div>
			<div class="tr">
				<div class="td bd-t" style="background-color:#fff; padding:5px; height:50%; overflow:hidden;">

					<div class="fadeIn2">
						<ng-container *ngTemplateOutlet="results"></ng-container>
					</div>

				</div>
			</div>
		</div>	
		-->	

	</div>
</div>

<ng-template #elements>

	<!--
	<div class="tbl full">
		<div class="td l m pdr10 bold upper f-min">Lokalizacja</div>
		<div class="td m" style="width:100%;"><hr></div>
	</div>

	<div class="center upper mgt20">
		<div class="tbl" style="margin:auto;">
			<div class="td m c">
				<input type="radio" name="lokalizacja" id="msc_zakopane"> <label for="msc_zakopane" class="href">Zakopane</label>
			</div>
			<div class="td">&nbsp;&nbsp;&nbsp;</div>
			<div class="td m c">
				<input type="radio" name="lokalizacja" id="msc_gdansk"> <label for="msc_gdansk" class="href">Gdańsk</label>
			</div>
		</div>		
	</div>
	-->


	<div class="mgt20 mgb20 tbl full">
		<div class="td l m pdr10 bold upper f-min">Okna</div>
		<div class="td m" style="width:100%;"><hr></div>
	</div>

	<div class="tbl full item res_c">
		<div class="tr">
			<div class="td l b center-res">
				<p class="n">Powierzchnia</p>
			</div>
			<div class="td">
				<div id="suw_powierzchnia"></div>
			</div>
		</div>
		<div class="tr"><div class="td">&nbsp;</div><div class="td">&nbsp;</div></div>
		<div class="tr">
			<div class="td l b center-res">
				<p class="n">Pakiet szybowy</p>
			</div>
			<div class="td">
				<div id="suw_szyby"></div>
			</div>
		</div>		
		<div class="tr"><div class="td">&nbsp;</div><div class="td">&nbsp;</div></div>
		<div class="tr">
			<div class="td l b center-res">
				<p class="n">Zacienienie</p>
			</div>
			<div class="td">
				<div id="suw_zacienienie"></div>
			</div>
		</div>		
	</div>

</ng-template>

<ng-template #results>

	<div><img src="assets/img/wiz_home.jpg" alt="" title="" style="width:100%; max-width:100%;"></div>

	

	<div style="background-color:#333; color:#fff; padding:200px 0; text-align:center;">Film</div>		

	<div style="margin-top:20px;">
		<button (click)="clickBtnRaport();">Szczegółowy raport</button>
	</div>		

</ng-template>

