<style>

@font-face {
    font-family: 'font';
    src: url('assets/fonts/gotham/Gotham-Book.eot');
    src: url('assets/fonts/gotham/Gotham-Book.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/gotham/Gotham-Book.woff2') format('woff2'),
        url('assets/fonts/gotham/Gotham-Book.woff') format('woff'),
        url('assets/fonts/gotham/Gotham-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'font_bold';
    src: url('assets/fonts/gotham/Gotham-Bold.eot');
    src: url('assets/fonts/gotham/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/gotham/Gotham-Bold.woff2') format('woff2'),
        url('assets/fonts/gotham/Gotham-Bold.woff') format('woff'),
        url('assets/fonts/gotham/Gotham-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}




:host {
	font-family: font;
	font-size: 15px;
	color: #333;
}



:host > div.allApplication
	{text-align:center;}
:host > div.allApplication > div
	{width: 1580px; text-align:left; margin:0 auto;}

</style>

<app-msg></app-msg>

<div class="allApplication">

	<div>
	
		<div class="tbl full">
			<div [ngClass]="['td', 't', 'left_side', currentPage, currentPage==''?'none':'selected', isCompleteParams?'':'incomplete_params']">
				
				<div class="item params" (click)="clickMenu('params')">
					<div class="tbl">
						<div class="td c m img">
							<img src="assets/img/menu_house.png" alt="" title=""><br>
							<p>PARAMETRY<br>BUDYNKU</p>
						</div>
						<div class="td l m txt c-black" *ngIf="currentPage==''" style="background:#fff; font-size:1.2em;">
							<div style="font-family:font_bold; text-transform:uppercase;">Dopasuj budynek<br>do własnych oczekiwań</div>
							<div style="font-size:0.8em; font-family:font; text-transform:lowercase;">(wybierz jedną z poniższych opcji)</div>
						</div>
					</div>				
				</div>

				<div *ngIf="isCompleteParams==true">

					<div class="item term" (click)="clickMenu('term')">					
						<div class="tbl full">
							<div class="td c m img">
								<img src="assets/img/menu_term.png" alt="" title="">
								<p *ngIf="currentPage!=''">Komfort termiczny</p>
							</div>
							<div class="td l m txt" *ngIf="currentPage==''">Komfort termiczny</div>
						</div>					
					</div>
					
					<div class="item air" (click)="clickMenu('air')">					
						<div class="tbl full">
							<div class="td c m img">
								<img src="assets/img/menu_air.png" alt="" title="">
								<p *ngIf="currentPage!=''">Komfort dobrej jakości powietrza</p>
							</div>
							<div class="td l m txt" *ngIf="currentPage==''">Komfort dobrej jakości powietrza</div>
						</div>					
					</div>
					
					<div class="item aku" (click)="clickMenu('aku')">					
						<div class="tbl full">
							<div class="td c m img">
								<img src="assets/img/menu_sound.png" alt="" title="">
								<p *ngIf="currentPage!=''">Komfort akustyczny</p>
							</div>
							<div class="td l m txt" *ngIf="currentPage==''">Komfort akustyczny</div>
						</div>					
					</div>
					
					<div class="item wiz" (click)="clickMenu('wiz')">					
						<div class="tbl full">
							<div class="td c m img">
									<img src="assets/img/menu_wiz.png" alt="" title="">
									<p *ngIf="currentPage!=''">Komfort wizualny</p>
								</div>
							<div class="td l m txt" *ngIf="currentPage==''">Komfort wizualny</div>
						</div>					
					</div>
					
					<div *ngIf="currentPage==''; else wariantsMin">
					<p>&nbsp;</p>
					<div class="center upper bold mgt20 f-plus">Propozycje gotowych konfiguracji</div>
					<div class ="center mgb10">(Wybierz jedną z poniższych opcji)</div>
					<div class="tbl full" style="height:100px;">
						<div class="td c m pd20 c-white bold f-min upper href" style="width:32.7%; background-color:#95c21f;"><span (click)="clickPredefinedModel(1);">Standard<br>SG</span></div>
						<div class="td">&nbsp;</div>
						<div class="td c m pd20 c-white bold f-min upper href" style="width:32.7%; background-color:#3caa39;"><span (click)="clickPredefinedModel(2);">Standard<br>pasywny</span></div>
						<div class="td">&nbsp;</div>
						<div class="td c m pd20 c-white bold f-min upper href" style="width:32.7%; background-color:#019b39;"><span (click)="clickPredefinedModel(3);">Standard<br>zero<br>energetyczny</span></div>
					</div>
					</div>
					<ng-template #wariantsMin>
						<div class="center upper f-min mgt50 mgb10">Propozycje gotowych konfiguracji</div>
						<div style="background-color:#95c21f;" class="pd20 c-white bold f-min upper href center" (click)="clickPredefinedModel(1);">Standard<br>SG</div>
						<div style="background-color:#3caa39;" class="pd20 c-white bold f-min upper href center mgt5 mgb5" (click)="clickPredefinedModel(2);">Standard<br>pasywny</div>
						<div style="background-color:#019b39;" class="pd20 c-white bold f-min upper href center" (click)="clickPredefinedModel(3);">Standard<br>zero<br>energetyczny</div>
					</ng-template>					

				</div>

			</div>
			
			<div [ngClass]="['td', 't', 'rightMainContainer', (currentPage=='' || currentPage=='params' || currentPage=='term' || currentPage=='air')?'image':'']" style="background-image:url(assets/img/rotate_house/{{imageRotateName}}); position:relative; min-height:500px;">

				<app-page-params *ngIf="currentPage=='params'"></app-page-params>
				<app-page-term *ngIf="currentPage=='term'"></app-page-term>
				<app-page-air *ngIf="currentPage=='air'"></app-page-air>
				<app-page-aku *ngIf="currentPage=='aku'"></app-page-aku>
				<app-page-wiz *ngIf="currentPage=='wiz'"></app-page-wiz>

				
			
			</div>
		</div>

	</div>

</div>