.item p.n
	{font-weight: 700; text-transform:uppercase; font-size:0.8em;}
.item p.d
	{font-size:0.7em;}


button
	{box-sizing:border-box;  padding:10px; background-color:#ff520b; color:#fff; text-transform:uppercase; font-weight:700; font-size:0.9em; border: none; cursor: pointer;}


.bd
	{border:5px solid #ff530b;}
.bd-l
	{border-left:5px solid #ff530b;}
.bd-t
	{border-top:5px solid #ff530b;}
.bd-r
	{border-right:5px solid #ff530b;}
.bd-b
	{border-bottom:5px solid #ff530b;}