<div class="tbl full res_a bd-l bd-b" id="currentPage">
	<div class="td l t bd-t bd-r" style="width:30%; min-width:450px;">
		
		<div class="fadeIn contentPadding" style="background-color:#fff;">

			<ng-container *ngTemplateOutlet="elements"></ng-container>

			<div class="mgt30">
				<div style="background-color:#ffede6;" class="pd20">
					
					<div class="mgb20">Opis parametrów</div>

					<p class="f-min">Lorem ipsum dolor sit amet consectetur adipisicing, elit. Numquam neque inventore debitis beatae qui, minus aliquam, voluptate officia officiis excepturi a ipsam quo possimus nemo soluta consequuntur accusamus temporibus, sit.</p>
				
				</div>
			</div>

			<div class="mgt30">
				<app-data-sheet></app-data-sheet>
			</div>			

		</div>

	</div>
	<div class="td l t bd-t bd-r" style="height:100%; background-color:#d2dff2;">
		
		<ng-container *ngTemplateOutlet="results"></ng-container>

	</div>
</div>

<ng-template #elements>


	<div class="tbl full res_c item">
		<div class="tr">
			<div class="td l b center-res">
				<p class="n">Ściana zewnętrzna</p>
				<p class="d">Współczynnik R<sub>w</sub></p>
			</div>
			<div class="td">
				<div id="suw_sciana"></div>
			</div>
		</div>
		<div class="tr"><div class="td">&nbsp;</div></div>
	</div>

	<div class="tbl full">
		<div class="td l m pdr10 bold upper f-min">Okna</div>
		<div class="td m" style="width:100%;"><hr></div>
	</div>
	
	<div class="tbl full res_c item">
		<div class="tr"><div class="td">&nbsp;</div><div class="td">&nbsp;</div></div>
		<div class="tr">
			<div class="td l b center-res">
				<p class="n">Powierzchnia</p>
			</div>
			<div class="td">
				<div id="suw_powierzchnia"></div>
			</div>
		</div>
		<div class="tr"><div class="td">&nbsp;</div><div class="td">&nbsp;</div></div>
		<div class="tr">
			<div class="td l b center-res">
				<p>Pakiet szybowy</p>
			</div>
			<div class="td">
					<div id="suw_szyby"></div>
			</div>
		</div>
		<div class="tr"><div class="td">&nbsp;</div><div class="td">&nbsp;</div></div>
		<div class="tr">
			<div class="td l b center-res">
				<p>R<sub>w</sub>[dB]</p>
			</div>
			<div class="td">
				<div id="suw_rw"></div>
			</div>
		</div>
		<div class="tr"><div class="td">&nbsp;</div><div class="td">&nbsp;</div></div>
		<div class="tr">
			<div class="td l b center-res">
				<p>Otoczenie</p>
			</div>
			<div class="td">
				<div id="suw_otoczenie"></div>
			</div>
		</div>
	</div>


</ng-template>

<ng-template #results>


	<div style="width: 100%; box-sizing:border-box;" class="center pd20 c-white fadeIn2">
		

		<div class="tbl full" style="max-width:calc(585px + 160px); margin:auto;">
			<div class="tr">
				<div class="td"></div>
				<div class="td c b pdr30">
					
					<div class="tbl mgat">
						<div class="td m pdr20"><input type="checkbox" id="ch_top" [checked]="checked.top" (change)="changeCheckbox('top', $event.target)"></div>
						<div class="td"><label for="ch_gora"><img src="assets/img/aku_road_h.jpg" alt="" title="" class="scale"></label></div>
					</div>

				</div>
				<div class="td"></div>				
			</div>
			<div class="tr">
				<div class="td m r" style="max-width:80px;">

					<div class="tbl mglat">
						<div class="tr"><div class="td c"><input type="checkbox" id="ch_left" [checked]="checked.left" (change)="changeCheckbox('left', $event.target)"></div></div>
						<div class="tr"><div class="td">&nbsp;</div></div>
						<div class="tr"><div class="td c"><label for="ch_left"><img src="assets/img/aku_road_v.jpg" alt="" title="" class="scale"></label></div></div>
					</div>
				
				</div>
				<div class="td" style="width:calc(100% - 160px);">

					<div style="background:left top no-repeat; background-image:url(assets/img/aku_home.jpg); background-size:contain; position:relative; width:100%;" id="resContainer">
						
						<div style="position:absolute; left:18.8%; top:14%; width:63.4%; height:32.5%; background:rgba(255,0,0,0.5); box-sizing:border-box; padding-top:10%;">nie</div>
						<div style="position:absolute; left:18.8%; top:61%; width:24%; height:25.4%; background:rgba(7,154,0,0.5);">ok</div>
						<div style="position:absolute; left:57.5%; top:61%; width:25%; height:25.4%; background:rgba(7,154,0,0.5);">ok</div>

						<img src="assets/img/sound.png" alt="" title="" style="position:absolute; left:calc(50% - 66px); top:-60px; rotate:270deg;" id="sound_mark_1">
						<img src="assets/img/sound.png" alt="" title="" style="position:absolute; left:calc(98% - 66px); top:calc(50% - 66px); rotate:0deg;" id="sound_mark_2">
						<img src="assets/img/sound.png" alt="" title="" style="position:absolute; left:calc(50% - 66px); top:calc(98% - 66px); rotate:90deg;" id="sound_mark_3">
						<img src="assets/img/sound.png" alt="" title="" style="position:absolute; left:calc(2% - 66px); top:calc(50% - 66px); rotate:180deg;" id="sound_mark_4">

					</div>

					<!--
					<div style="background:url(assets/img/aku_home.jpg); width:585px; height:710px; position:relative;">
						
						<div style="position:absolute; left:110px; top:100px; width:372px; height:230px; background:rgba(255,0,0,0.5);">nie</div>
						<div style="position:absolute; left:110px; top:433px; width:140px; height:180px; background:rgba(7,154,0,0.5);">ok</div>
						<div style="position:absolute; left:337px; top:433px; width:144px; height:180px; background:rgba(7,154,0,0.5);">ok</div>

						<img src="assets/img/sound.png" alt="" title="" style="position:absolute; left:250px; top:-60px; rotate:270deg;" id="sound_mark_1">
						<img src="assets/img/sound.png" alt="" title="" style="position:absolute; left:510px; top:310px; rotate:0deg;" id="sound_mark_2">
						<img src="assets/img/sound.png" alt="" title="" style="position:absolute; left:250px; top:640px; rotate:90deg;" id="sound_mark_3">
						<img src="assets/img/sound.png" alt="" title="" style="position:absolute; left:-60px; top:310px; rotate:180deg;" id="sound_mark_4">

					</div>
					-->
				</div>
				<div class="td l m" style="max-width:80px;">

					<div class="tbl">
						<div class="tr"><div class="td c"><input type="checkbox" id="ch_right" [checked]="checked.right" (change)="changeCheckbox('right', $event.target)"></div></div>
						<div class="tr"><div class="td">&nbsp;</div></div>
						<div class="tr"><div class="td c"><label for="ch_right"><img src="assets/img/aku_road_v.jpg" alt="" title="" class="scale"></label></div></div>
					</div>
					
				</div>				
			</div>
			<div class="tr">
				<div class="td"></div>
				<div class="td c t pdr30">
					
					<div class="tbl mgat">
						<div class="td m pdr20"><input type="checkbox" id="ch_bottom" [checked]="checked.bottom" (change)="changeCheckbox('bottom', $event.target)"></div>
						<div class="td"><label for="ch_bottom"><img src="assets/img/aku_road_h.jpg" alt="" title="" class="scale"></label></div>
					</div>

				</div>
				<div class="td"></div>
			</div>
		</div>


		
		

	</div>

	<div class="mgt20 pdr20 right fadeIn3">
		<button (click)="clickBtnRaport();">Zobacz szczegółowy raport</button>
	</div>

</ng-template>