div.elem {overflow:hidden; width:100%;}
div.elem > div.em {float:left; box-sizing:border-box;}

div.elem.two > div.em {width:calc((100% - 10px)/2); margin:10px 5px 0 5px ;}
div.elem.two > div.em:nth-child(2n+1) {margin-left:0 ;}
div.elem.two > div.em:nth-child(2n+2) {margin-right:0 ;}
div.elem.two > div.em:nth-child(1),div.elem.two > div.em:nth-child(2) {margin-top:0 !important;}
 {margin-top:10px !important;}
div.elem.three > div.em {width:calc((100% - 20px)/3); margin:10px 5px 0 5px ;}
div.elem.three > div.em:nth-child(3n+1) {margin-left:0 ;}
div.elem.three > div.em:nth-child(3n+3) {margin-right:0 ;}
div.elem.three > div.em:nth-child(1),div.elem.three > div.em:nth-child(2),div.elem.three > div.em:nth-child(3) {margin-top:0 !important;}
 {margin-top:10px !important;}
div.elem.four > div.em {width:calc((100% - 30px)/4); margin:10px 5px 0 5px ;}
div.elem.four > div.em:nth-child(4n+1) {margin-left:0 ;}
div.elem.four > div.em:nth-child(4n+4) {margin-right:0 ;}
div.elem.four > div.em:nth-child(1),div.elem.four > div.em:nth-child(2),div.elem.four > div.em:nth-child(3),div.elem.four > div.em:nth-child(4) {margin-top:0 !important;}
 {margin-top:10px !important;}
div.elem.five > div.em {width:calc((100% - 40px)/5); margin:10px 5px 0 5px ;}
div.elem.five > div.em:nth-child(5n+1) {margin-left:0 ;}
div.elem.five > div.em:nth-child(5n+5) {margin-right:0 ;}
div.elem.five > div.em:nth-child(1),div.elem.five > div.em:nth-child(2),div.elem.five > div.em:nth-child(3),div.elem.five > div.em:nth-child(4),div.elem.five > div.em:nth-child(5) {margin-top:0 !important;}
 {margin-top:10px !important;}
div.elem.six > div.em {width:calc((100% - 50px)/6); margin:10px 5px 0 5px ;}
div.elem.six > div.em:nth-child(6n+1) {margin-left:0 ;}
div.elem.six > div.em:nth-child(6n+6) {margin-right:0 ;}
div.elem.six > div.em:nth-child(1),div.elem.six > div.em:nth-child(2),div.elem.six > div.em:nth-child(3),div.elem.six > div.em:nth-child(4),div.elem.six > div.em:nth-child(5),div.elem.six > div.em:nth-child(6) {margin-top:0 !important;}
 {margin-top:10px !important;}
div.elem.seven > div.em {width:calc((100% - 60px)/7); margin:10px 5px 0 5px ;}
div.elem.seven > div.em:nth-child(7n+1) {margin-left:0 ;}
div.elem.seven > div.em:nth-child(7n+7) {margin-right:0 ;}
div.elem.seven > div.em:nth-child(1),div.elem.seven > div.em:nth-child(2),div.elem.seven > div.em:nth-child(3),div.elem.seven > div.em:nth-child(4),div.elem.seven > div.em:nth-child(5),div.elem.seven > div.em:nth-child(6),div.elem.seven > div.em:nth-child(7) {margin-top:0 !important;}
 {margin-top:10px !important;}
div.elem.eight > div.em {width:calc((100% - 70px)/8); margin:10px 5px 0 5px ;}
div.elem.eight > div.em:nth-child(8n+1) {margin-left:0 ;}
div.elem.eight > div.em:nth-child(8n+8) {margin-right:0 ;}
div.elem.eight > div.em:nth-child(1),div.elem.eight > div.em:nth-child(2),div.elem.eight > div.em:nth-child(3),div.elem.eight > div.em:nth-child(4),div.elem.eight > div.em:nth-child(5),div.elem.eight > div.em:nth-child(6),div.elem.eight > div.em:nth-child(7),div.elem.eight > div.em:nth-child(8) {margin-top:0 !important;}
 {margin-top:10px !important;}
@media screen and (max-width: 1000px) and (min-width: 801px){
div.elem.two:not(.lock) > div.em {width:calc((100% - 10px)/2); margin:10px 5px 0 5px !important;}
div.elem.two:not(.lock) > div.em:nth-child(2n+1) {margin-left:0 !important;}
div.elem.two:not(.lock) > div.em:nth-child(2n+2) {margin-right:0 !important;}
div.elem.two:not(.lock) > div.em:nth-child(1),div.elem.two:not(.lock) > div.em:nth-child(2) {margin-top:0 !important;}
 {margin-top:10px !important;}
div.elem.three:not(.lock) > div.em {width:calc((100% - 10px)/2); margin:10px 5px 0 5px !important;}
div.elem.three:not(.lock) > div.em:nth-child(2n+1) {margin-left:0 !important;}
div.elem.three:not(.lock) > div.em:nth-child(2n+2) {margin-right:0 !important;}
div.elem.three:not(.lock) > div.em:nth-child(1),div.elem.three:not(.lock) > div.em:nth-child(2) {margin-top:0 !important;}
div.elem.three:not(.lock) > div.em:nth-child(3) {margin-top:10px !important;}
div.elem.four:not(.lock) > div.em {width:calc((100% - 20px)/3); margin:10px 5px 0 5px !important;}
div.elem.four:not(.lock) > div.em:nth-child(3n+1) {margin-left:0 !important;}
div.elem.four:not(.lock) > div.em:nth-child(3n+3) {margin-right:0 !important;}
div.elem.four:not(.lock) > div.em:nth-child(1),div.elem.four:not(.lock) > div.em:nth-child(2),div.elem.four:not(.lock) > div.em:nth-child(3) {margin-top:0 !important;}
div.elem.four:not(.lock) > div.em:nth-child(4) {margin-top:10px !important;}
div.elem.five:not(.lock) > div.em {width:calc((100% - 30px)/4); margin:10px 5px 0 5px !important;}
div.elem.five:not(.lock) > div.em:nth-child(4n+1) {margin-left:0 !important;}
div.elem.five:not(.lock) > div.em:nth-child(4n+4) {margin-right:0 !important;}
div.elem.five:not(.lock) > div.em:nth-child(1),div.elem.five:not(.lock) > div.em:nth-child(2),div.elem.five:not(.lock) > div.em:nth-child(3),div.elem.five:not(.lock) > div.em:nth-child(4) {margin-top:0 !important;}
div.elem.five:not(.lock) > div.em:nth-child(5) {margin-top:10px !important;}
div.elem.six:not(.lock) > div.em {width:calc((100% - 40px)/5); margin:10px 5px 0 5px !important;}
div.elem.six:not(.lock) > div.em:nth-child(5n+1) {margin-left:0 !important;}
div.elem.six:not(.lock) > div.em:nth-child(5n+5) {margin-right:0 !important;}
div.elem.six:not(.lock) > div.em:nth-child(1),div.elem.six:not(.lock) > div.em:nth-child(2),div.elem.six:not(.lock) > div.em:nth-child(3),div.elem.six:not(.lock) > div.em:nth-child(4),div.elem.six:not(.lock) > div.em:nth-child(5) {margin-top:0 !important;}
div.elem.six:not(.lock) > div.em:nth-child(6) {margin-top:10px !important;}
div.elem.seven:not(.lock) > div.em {width:calc((100% - 50px)/6); margin:10px 5px 0 5px !important;}
div.elem.seven:not(.lock) > div.em:nth-child(6n+1) {margin-left:0 !important;}
div.elem.seven:not(.lock) > div.em:nth-child(6n+6) {margin-right:0 !important;}
div.elem.seven:not(.lock) > div.em:nth-child(1),div.elem.seven:not(.lock) > div.em:nth-child(2),div.elem.seven:not(.lock) > div.em:nth-child(3),div.elem.seven:not(.lock) > div.em:nth-child(4),div.elem.seven:not(.lock) > div.em:nth-child(5),div.elem.seven:not(.lock) > div.em:nth-child(6) {margin-top:0 !important;}
div.elem.seven:not(.lock) > div.em:nth-child(7) {margin-top:10px !important;}
div.elem.eight:not(.lock) > div.em {width:calc((100% - 60px)/7); margin:10px 5px 0 5px !important;}
div.elem.eight:not(.lock) > div.em:nth-child(7n+1) {margin-left:0 !important;}
div.elem.eight:not(.lock) > div.em:nth-child(7n+7) {margin-right:0 !important;}
div.elem.eight:not(.lock) > div.em:nth-child(1),div.elem.eight:not(.lock) > div.em:nth-child(2),div.elem.eight:not(.lock) > div.em:nth-child(3),div.elem.eight:not(.lock) > div.em:nth-child(4),div.elem.eight:not(.lock) > div.em:nth-child(5),div.elem.eight:not(.lock) > div.em:nth-child(6),div.elem.eight:not(.lock) > div.em:nth-child(7) {margin-top:0 !important;}
div.elem.eight:not(.lock) > div.em:nth-child(8) {margin-top:10px !important;}
}@media screen and (max-width: 800px) and (min-width: 601px){
div.elem.two:not(.lock) > div.em {width:100%; margin:10px 5px 0 5px !important;}
div.elem.two:not(.lock) > div.em:nth-child(1n+1) {margin-left:0 !important;}
div.elem.two:not(.lock) > div.em:nth-child(1n+1) {margin-right:0 !important;}
div.elem.two:not(.lock) > div.em:nth-child(1) {margin-top:0 !important;}
div.elem.two:not(.lock) > div.em:nth-child(2) {margin-top:10px !important;}
div.elem.three:not(.lock) > div.em {width:calc((100% - 10px)/2); margin:10px 5px 0 5px !important;}
div.elem.three:not(.lock) > div.em:nth-child(2n+1) {margin-left:0 !important;}
div.elem.three:not(.lock) > div.em:nth-child(2n+2) {margin-right:0 !important;}
div.elem.three:not(.lock) > div.em:nth-child(1),div.elem.three:not(.lock) > div.em:nth-child(2) {margin-top:0 !important;}
div.elem.three:not(.lock) > div.em:nth-child(3) {margin-top:10px !important;}
div.elem.four:not(.lock) > div.em {width:calc((100% - 10px)/2); margin:10px 5px 0 5px !important;}
div.elem.four:not(.lock) > div.em:nth-child(2n+1) {margin-left:0 !important;}
div.elem.four:not(.lock) > div.em:nth-child(2n+2) {margin-right:0 !important;}
div.elem.four:not(.lock) > div.em:nth-child(1),div.elem.four:not(.lock) > div.em:nth-child(2) {margin-top:0 !important;}
div.elem.four:not(.lock) > div.em:nth-child(3),div.elem.four:not(.lock) > div.em:nth-child(4) {margin-top:10px !important;}
div.elem.five:not(.lock) > div.em {width:calc((100% - 20px)/3); margin:10px 5px 0 5px !important;}
div.elem.five:not(.lock) > div.em:nth-child(3n+1) {margin-left:0 !important;}
div.elem.five:not(.lock) > div.em:nth-child(3n+3) {margin-right:0 !important;}
div.elem.five:not(.lock) > div.em:nth-child(1),div.elem.five:not(.lock) > div.em:nth-child(2),div.elem.five:not(.lock) > div.em:nth-child(3) {margin-top:0 !important;}
div.elem.five:not(.lock) > div.em:nth-child(4),div.elem.five:not(.lock) > div.em:nth-child(5) {margin-top:10px !important;}
div.elem.six:not(.lock) > div.em {width:calc((100% - 30px)/4); margin:10px 5px 0 5px !important;}
div.elem.six:not(.lock) > div.em:nth-child(4n+1) {margin-left:0 !important;}
div.elem.six:not(.lock) > div.em:nth-child(4n+4) {margin-right:0 !important;}
div.elem.six:not(.lock) > div.em:nth-child(1),div.elem.six:not(.lock) > div.em:nth-child(2),div.elem.six:not(.lock) > div.em:nth-child(3),div.elem.six:not(.lock) > div.em:nth-child(4) {margin-top:0 !important;}
div.elem.six:not(.lock) > div.em:nth-child(5),div.elem.six:not(.lock) > div.em:nth-child(6) {margin-top:10px !important;}
div.elem.seven:not(.lock) > div.em {width:calc((100% - 40px)/5); margin:10px 5px 0 5px !important;}
div.elem.seven:not(.lock) > div.em:nth-child(5n+1) {margin-left:0 !important;}
div.elem.seven:not(.lock) > div.em:nth-child(5n+5) {margin-right:0 !important;}
div.elem.seven:not(.lock) > div.em:nth-child(1),div.elem.seven:not(.lock) > div.em:nth-child(2),div.elem.seven:not(.lock) > div.em:nth-child(3),div.elem.seven:not(.lock) > div.em:nth-child(4),div.elem.seven:not(.lock) > div.em:nth-child(5) {margin-top:0 !important;}
div.elem.seven:not(.lock) > div.em:nth-child(6),div.elem.seven:not(.lock) > div.em:nth-child(7) {margin-top:10px !important;}
div.elem.eight:not(.lock) > div.em {width:calc((100% - 50px)/6); margin:10px 5px 0 5px !important;}
div.elem.eight:not(.lock) > div.em:nth-child(6n+1) {margin-left:0 !important;}
div.elem.eight:not(.lock) > div.em:nth-child(6n+6) {margin-right:0 !important;}
div.elem.eight:not(.lock) > div.em:nth-child(1),div.elem.eight:not(.lock) > div.em:nth-child(2),div.elem.eight:not(.lock) > div.em:nth-child(3),div.elem.eight:not(.lock) > div.em:nth-child(4),div.elem.eight:not(.lock) > div.em:nth-child(5),div.elem.eight:not(.lock) > div.em:nth-child(6) {margin-top:0 !important;}
div.elem.eight:not(.lock) > div.em:nth-child(7),div.elem.eight:not(.lock) > div.em:nth-child(8) {margin-top:10px !important;}
}@media screen and (max-width: 600px) and (min-width: 450px){
div.elem.two:not(.lock) > div.em {width:100%; margin:10px 5px 0 5px !important;}
div.elem.two:not(.lock) > div.em:nth-child(1n+1) {margin-left:0 !important;}
div.elem.two:not(.lock) > div.em:nth-child(1n+1) {margin-right:0 !important;}
div.elem.two:not(.lock) > div.em:nth-child(1) {margin-top:0 !important;}
div.elem.two:not(.lock) > div.em:nth-child(2) {margin-top:10px !important;}
div.elem.three:not(.lock) > div.em {width:100%; margin:10px 5px 0 5px !important;}
div.elem.three:not(.lock) > div.em:nth-child(1n+1) {margin-left:0 !important;}
div.elem.three:not(.lock) > div.em:nth-child(1n+1) {margin-right:0 !important;}
div.elem.three:not(.lock) > div.em:nth-child(1) {margin-top:0 !important;}
div.elem.three:not(.lock) > div.em:nth-child(2),div.elem.three:not(.lock) > div.em:nth-child(3) {margin-top:10px !important;}
div.elem.four:not(.lock) > div.em {width:calc((100% - 10px)/2); margin:10px 5px 0 5px !important;}
div.elem.four:not(.lock) > div.em:nth-child(2n+1) {margin-left:0 !important;}
div.elem.four:not(.lock) > div.em:nth-child(2n+2) {margin-right:0 !important;}
div.elem.four:not(.lock) > div.em:nth-child(1),div.elem.four:not(.lock) > div.em:nth-child(2) {margin-top:0 !important;}
div.elem.four:not(.lock) > div.em:nth-child(3),div.elem.four:not(.lock) > div.em:nth-child(4) {margin-top:10px !important;}
div.elem.five:not(.lock) > div.em {width:calc((100% - 10px)/2); margin:10px 5px 0 5px !important;}
div.elem.five:not(.lock) > div.em:nth-child(2n+1) {margin-left:0 !important;}
div.elem.five:not(.lock) > div.em:nth-child(2n+2) {margin-right:0 !important;}
div.elem.five:not(.lock) > div.em:nth-child(1),div.elem.five:not(.lock) > div.em:nth-child(2) {margin-top:0 !important;}
div.elem.five:not(.lock) > div.em:nth-child(3),div.elem.five:not(.lock) > div.em:nth-child(4),div.elem.five:not(.lock) > div.em:nth-child(5) {margin-top:10px !important;}
div.elem.six:not(.lock) > div.em {width:calc((100% - 20px)/3); margin:10px 5px 0 5px !important;}
div.elem.six:not(.lock) > div.em:nth-child(3n+1) {margin-left:0 !important;}
div.elem.six:not(.lock) > div.em:nth-child(3n+3) {margin-right:0 !important;}
div.elem.six:not(.lock) > div.em:nth-child(1),div.elem.six:not(.lock) > div.em:nth-child(2),div.elem.six:not(.lock) > div.em:nth-child(3) {margin-top:0 !important;}
div.elem.six:not(.lock) > div.em:nth-child(4),div.elem.six:not(.lock) > div.em:nth-child(5),div.elem.six:not(.lock) > div.em:nth-child(6) {margin-top:10px !important;}
div.elem.seven:not(.lock) > div.em {width:calc((100% - 30px)/4); margin:10px 5px 0 5px !important;}
div.elem.seven:not(.lock) > div.em:nth-child(4n+1) {margin-left:0 !important;}
div.elem.seven:not(.lock) > div.em:nth-child(4n+4) {margin-right:0 !important;}
div.elem.seven:not(.lock) > div.em:nth-child(1),div.elem.seven:not(.lock) > div.em:nth-child(2),div.elem.seven:not(.lock) > div.em:nth-child(3),div.elem.seven:not(.lock) > div.em:nth-child(4) {margin-top:0 !important;}
div.elem.seven:not(.lock) > div.em:nth-child(5),div.elem.seven:not(.lock) > div.em:nth-child(6),div.elem.seven:not(.lock) > div.em:nth-child(7) {margin-top:10px !important;}
div.elem.eight:not(.lock) > div.em {width:calc((100% - 40px)/5); margin:10px 5px 0 5px !important;}
div.elem.eight:not(.lock) > div.em:nth-child(5n+1) {margin-left:0 !important;}
div.elem.eight:not(.lock) > div.em:nth-child(5n+5) {margin-right:0 !important;}
div.elem.eight:not(.lock) > div.em:nth-child(1),div.elem.eight:not(.lock) > div.em:nth-child(2),div.elem.eight:not(.lock) > div.em:nth-child(3),div.elem.eight:not(.lock) > div.em:nth-child(4),div.elem.eight:not(.lock) > div.em:nth-child(5) {margin-top:0 !important;}
div.elem.eight:not(.lock) > div.em:nth-child(6),div.elem.eight:not(.lock) > div.em:nth-child(7),div.elem.eight:not(.lock) > div.em:nth-child(8) {margin-top:10px !important;}
}@media screen and (max-width: 449px) and (min-width: 360px){
div.elem.two:not(.lock) > div.em {width:100%; margin:10px 5px 0 5px !important;}
div.elem.two:not(.lock) > div.em:nth-child(1n+1) {margin-left:0 !important;}
div.elem.two:not(.lock) > div.em:nth-child(1n+1) {margin-right:0 !important;}
div.elem.two:not(.lock) > div.em:nth-child(1) {margin-top:0 !important;}
div.elem.two:not(.lock) > div.em:nth-child(2) {margin-top:10px !important;}
div.elem.three:not(.lock) > div.em {width:100%; margin:10px 5px 0 5px !important;}
div.elem.three:not(.lock) > div.em:nth-child(1n+1) {margin-left:0 !important;}
div.elem.three:not(.lock) > div.em:nth-child(1n+1) {margin-right:0 !important;}
div.elem.three:not(.lock) > div.em:nth-child(1) {margin-top:0 !important;}
div.elem.three:not(.lock) > div.em:nth-child(2),div.elem.three:not(.lock) > div.em:nth-child(3) {margin-top:10px !important;}
div.elem.four:not(.lock) > div.em {width:100%; margin:10px 5px 0 5px !important;}
div.elem.four:not(.lock) > div.em:nth-child(1n+1) {margin-left:0 !important;}
div.elem.four:not(.lock) > div.em:nth-child(1n+1) {margin-right:0 !important;}
div.elem.four:not(.lock) > div.em:nth-child(1) {margin-top:0 !important;}
div.elem.four:not(.lock) > div.em:nth-child(2),div.elem.four:not(.lock) > div.em:nth-child(3),div.elem.four:not(.lock) > div.em:nth-child(4) {margin-top:10px !important;}
div.elem.five:not(.lock) > div.em {width:calc((100% - 10px)/2); margin:10px 5px 0 5px !important;}
div.elem.five:not(.lock) > div.em:nth-child(2n+1) {margin-left:0 !important;}
div.elem.five:not(.lock) > div.em:nth-child(2n+2) {margin-right:0 !important;}
div.elem.five:not(.lock) > div.em:nth-child(1),div.elem.five:not(.lock) > div.em:nth-child(2) {margin-top:0 !important;}
div.elem.five:not(.lock) > div.em:nth-child(3),div.elem.five:not(.lock) > div.em:nth-child(4),div.elem.five:not(.lock) > div.em:nth-child(5) {margin-top:10px !important;}
div.elem.six:not(.lock) > div.em {width:calc((100% - 20px)/3); margin:10px 5px 0 5px !important;}
div.elem.six:not(.lock) > div.em:nth-child(3n+1) {margin-left:0 !important;}
div.elem.six:not(.lock) > div.em:nth-child(3n+3) {margin-right:0 !important;}
div.elem.six:not(.lock) > div.em:nth-child(1),div.elem.six:not(.lock) > div.em:nth-child(2),div.elem.six:not(.lock) > div.em:nth-child(3) {margin-top:0 !important;}
div.elem.six:not(.lock) > div.em:nth-child(4),div.elem.six:not(.lock) > div.em:nth-child(5),div.elem.six:not(.lock) > div.em:nth-child(6) {margin-top:10px !important;}
div.elem.seven:not(.lock) > div.em {width:calc((100% - 20px)/3); margin:10px 5px 0 5px !important;}
div.elem.seven:not(.lock) > div.em:nth-child(3n+1) {margin-left:0 !important;}
div.elem.seven:not(.lock) > div.em:nth-child(3n+3) {margin-right:0 !important;}
div.elem.seven:not(.lock) > div.em:nth-child(1),div.elem.seven:not(.lock) > div.em:nth-child(2),div.elem.seven:not(.lock) > div.em:nth-child(3) {margin-top:0 !important;}
div.elem.seven:not(.lock) > div.em:nth-child(4),div.elem.seven:not(.lock) > div.em:nth-child(5),div.elem.seven:not(.lock) > div.em:nth-child(6),div.elem.seven:not(.lock) > div.em:nth-child(7) {margin-top:10px !important;}
div.elem.eight:not(.lock) > div.em {width:calc((100% - 30px)/4); margin:10px 5px 0 5px !important;}
div.elem.eight:not(.lock) > div.em:nth-child(4n+1) {margin-left:0 !important;}
div.elem.eight:not(.lock) > div.em:nth-child(4n+4) {margin-right:0 !important;}
div.elem.eight:not(.lock) > div.em:nth-child(1),div.elem.eight:not(.lock) > div.em:nth-child(2),div.elem.eight:not(.lock) > div.em:nth-child(3),div.elem.eight:not(.lock) > div.em:nth-child(4) {margin-top:0 !important;}
div.elem.eight:not(.lock) > div.em:nth-child(5),div.elem.eight:not(.lock) > div.em:nth-child(6),div.elem.eight:not(.lock) > div.em:nth-child(7),div.elem.eight:not(.lock) > div.em:nth-child(8) {margin-top:10px !important;}
}@media screen and (max-width: 359px){
div.elem.two:not(.lock) > div.em {width:100%; margin:10px 5px 0 5px !important;}
div.elem.two:not(.lock) > div.em:nth-child(1n+1) {margin-left:0 !important;}
div.elem.two:not(.lock) > div.em:nth-child(1n+1) {margin-right:0 !important;}
div.elem.two:not(.lock) > div.em:nth-child(1) {margin-top:0 !important;}
div.elem.two:not(.lock) > div.em:nth-child(2) {margin-top:10px !important;}
div.elem.three:not(.lock) > div.em {width:100%; margin:10px 5px 0 5px !important;}
div.elem.three:not(.lock) > div.em:nth-child(1n+1) {margin-left:0 !important;}
div.elem.three:not(.lock) > div.em:nth-child(1n+1) {margin-right:0 !important;}
div.elem.three:not(.lock) > div.em:nth-child(1) {margin-top:0 !important;}
div.elem.three:not(.lock) > div.em:nth-child(2),div.elem.three:not(.lock) > div.em:nth-child(3) {margin-top:10px !important;}
div.elem.four:not(.lock) > div.em {width:100%; margin:10px 5px 0 5px !important;}
div.elem.four:not(.lock) > div.em:nth-child(1n+1) {margin-left:0 !important;}
div.elem.four:not(.lock) > div.em:nth-child(1n+1) {margin-right:0 !important;}
div.elem.four:not(.lock) > div.em:nth-child(1) {margin-top:0 !important;}
div.elem.four:not(.lock) > div.em:nth-child(2),div.elem.four:not(.lock) > div.em:nth-child(3),div.elem.four:not(.lock) > div.em:nth-child(4) {margin-top:10px !important;}
div.elem.five:not(.lock) > div.em {width:calc((100% - 10px)/2); margin:10px 5px 0 5px !important;}
div.elem.five:not(.lock) > div.em:nth-child(2n+1) {margin-left:0 !important;}
div.elem.five:not(.lock) > div.em:nth-child(2n+2) {margin-right:0 !important;}
div.elem.five:not(.lock) > div.em:nth-child(1),div.elem.five:not(.lock) > div.em:nth-child(2) {margin-top:0 !important;}
div.elem.five:not(.lock) > div.em:nth-child(3),div.elem.five:not(.lock) > div.em:nth-child(4),div.elem.five:not(.lock) > div.em:nth-child(5) {margin-top:10px !important;}
div.elem.six:not(.lock) > div.em {width:calc((100% - 10px)/2); margin:10px 5px 0 5px !important;}
div.elem.six:not(.lock) > div.em:nth-child(2n+1) {margin-left:0 !important;}
div.elem.six:not(.lock) > div.em:nth-child(2n+2) {margin-right:0 !important;}
div.elem.six:not(.lock) > div.em:nth-child(1),div.elem.six:not(.lock) > div.em:nth-child(2) {margin-top:0 !important;}
div.elem.six:not(.lock) > div.em:nth-child(3),div.elem.six:not(.lock) > div.em:nth-child(4),div.elem.six:not(.lock) > div.em:nth-child(5),div.elem.six:not(.lock) > div.em:nth-child(6) {margin-top:10px !important;}
div.elem.seven:not(.lock) > div.em {width:calc((100% - 20px)/3); margin:10px 5px 0 5px !important;}
div.elem.seven:not(.lock) > div.em:nth-child(3n+1) {margin-left:0 !important;}
div.elem.seven:not(.lock) > div.em:nth-child(3n+3) {margin-right:0 !important;}
div.elem.seven:not(.lock) > div.em:nth-child(1),div.elem.seven:not(.lock) > div.em:nth-child(2),div.elem.seven:not(.lock) > div.em:nth-child(3) {margin-top:0 !important;}
div.elem.seven:not(.lock) > div.em:nth-child(4),div.elem.seven:not(.lock) > div.em:nth-child(5),div.elem.seven:not(.lock) > div.em:nth-child(6),div.elem.seven:not(.lock) > div.em:nth-child(7) {margin-top:10px !important;}
div.elem.eight:not(.lock) > div.em {width:calc((100% - 20px)/3); margin:10px 5px 0 5px !important;}
div.elem.eight:not(.lock) > div.em:nth-child(3n+1) {margin-left:0 !important;}
div.elem.eight:not(.lock) > div.em:nth-child(3n+3) {margin-right:0 !important;}
div.elem.eight:not(.lock) > div.em:nth-child(1),div.elem.eight:not(.lock) > div.em:nth-child(2),div.elem.eight:not(.lock) > div.em:nth-child(3) {margin-top:0 !important;}
div.elem.eight:not(.lock) > div.em:nth-child(4),div.elem.eight:not(.lock) > div.em:nth-child(5),div.elem.eight:not(.lock) > div.em:nth-child(6),div.elem.eight:not(.lock) > div.em:nth-child(7),div.elem.eight:not(.lock) > div.em:nth-child(8) {margin-top:10px !important;}
}