.res_a_s, .res_b_s, .res_c_s, .res_d_s, .res_e_s		{display:none !important;}



@media screen and (max-width: 1100px)
{
	.res_a_h		{display:none !important;}
	div.res_a_s		{display:block !important;}
	span.res_a_s		{display:inline !important;}
	div.tbl > div.td.res_a_s, div.tbl > div.tr > div.td.res_a_s {display:table-cell !important;}
	
	div.tbl.res_a 			{display:block;}
	div.tbl.res_a > div.tr			{display:block;}
	div.tbl.res_a > div.td 	{display:block; width:auto !important;}
	div.tbl.res_a > div.tr > div.td 	{display:block; width:auto !important;}
	div.tbl.res_a > div.td.center-res, div.tbl.res_a > div.tr > div.td.center-res {text-align:center;}
}


@media screen and (max-width: 900px)
{
	.res_b_h		{display:none !important;}
	div.res_b_s		{display:block !important;}
	span.res_b_s		{display:inline !important;}
	div.tbl > div.td.res_b_s, div.tbl > div.tr > div.td.res_b_s {display:table-cell !important;}

	div.tbl.res_b 			{display:block;}
	div.tbl.res_b > div.tr			{display:block;}
	div.tbl.res_b > div.td 	{display:block; width:auto !important;}
	div.tbl.res_b > div.tr > div.td 	{display:block; width:auto !important;}
	div.tbl.res_b > div.td.center-res, div.tbl.res_b > div.tr > div.td.center-res {text-align:center;}
}	

@media screen and (max-width: 700px)
{
	.res_c_h		{display:none !important;}
	div.res_c_s		{display:block !important;}
	span.res_c_s		{display:inline !important;}
	div.tbl > div.td.res_c_s, div.tbl > div.tr > div.td.res_c_s {display:table-cell !important;}

	div.tbl.res_c 			{display:block;}
	div.tbl.res_c > div.tr			{display:block;}
	div.tbl.res_c > div.td 	{display:block; width:auto !important;}
	div.tbl.res_c > div.tr > div.td 	{display:block; width:auto !important;}	
	div.tbl.res_c > div.td.center-res, div.tbl.res_c > div.tr > div.td.center-res {text-align:center;}	
}

@media screen and (max-width: 500px)
{
	.res_d_h		{display:none !important;}
	div.res_d_s		{display:block !important;}
	span.res_d_s		{display:inline !important;}
	div.tbl > div.td.res_d_s, div.tbl > div.tr > div.td.res_d_s {display:table-cell !important;}

	div.tbl.res_d 			{display:block;}
	div.tbl.res_d > div.tr			{display:block;}
	div.tbl.res_d > div.td 	{display:block; width:auto !important;}
	div.tbl.res_d > div.tr > div.td 	{display:block; width:auto !important;}	
	div.tbl.res_d > div.td.center-res, div.tbl.res_d > div.tr > div.td.center-res {text-align:center;}
}


@media screen and (max-width: 360px)
{
	.res_e_h		{display:none !important;}
	div.res_e_s		{display:block !important;}
	span.res_e_s		{display:inline !important;}
	div.tbl > div.td.res_e_s, div.tbl > div.tr > div.td.res_e_s {display:table-cell !important;}

	div.tbl.res_e 			{display:block;}
	div.tbl.res_e > div.tr			{display:block;}
	div.tbl.res_e > div.td 	{display:block; width:auto !important;}
	div.tbl.res_e > div.tr > div.td 	{display:block; width:auto !important;}	
	div.tbl.res_e > div.td.center-res, div.tbl.res_e > div.tr > div.td.center-res {text-align:center;}
}