.bold
	{font-family: font_bold;}





.bgImage
	{background-position:center center; background-repeat:no-repeat; background-size:cover;}
.bgImage.mouse:before
	{display:block; position:absolute; content:" ";background-position: center center; background-size: cover; background-repeat:no-repeat; background-image: inherit;
	left:0; top:0; width:100%; height:100%; transition: all 0.6s ease-in-out; z-index:1;}
.bgImage.mouse
	{background-image:none; overflow:hidden; position:relative;}
.bgImage.mouse:hover:before
	{transform:scale(1.2, 1.2);}
.bgImage.mouse > div
	{position:relative; z-index:2;}


.aspect-ratio
	{position: relative; width: 100%; /* 16:9 Aspect Ratio */}
.ratio-100
	{padding-top: 100%;}
.ratio-75
	{ padding-top: 75%;}
.aspect-ratio > .aspect-ratio-in
	{position: absolute; left:0; top:0; width:100%; height:100%;}


.row.use-ratio
	{}
.row.use-ratio > div
	{margin-bottom:30px;}
.row.use-ratio > div > div
	{width:100%; padding-top:75%; position:relative;}
.row.use-ratio > div > div > div
	{position:absolute; left:0; top:0; width:100%; bottom:0;}

.blur_value
	{filter: blur(4px);}

.contentPadding
	{padding: 20px;}

@media screen and (max-width: 600px)
{
	.contentPadding
		{padding:10px !important;}
}

@keyframes fadein1 {
	0% { opacity: 0; }
	100%   { opacity: 1; }
}
@keyframes fadein2 {
	0% { opacity: 0; }
	50% { opacity: 0; }
	100%   { opacity: 1; }
}
@keyframes fadein3 {
	0% { opacity: 0; }
	75% { opacity: 0; }
	100%   { opacity: 1; }
}
.fadeIn, .fadeIn1
	{animation: fadein1 1s;}
.fadeIn2
	{animation: fadein2 1.1s;}
.fadeIn3
	{animation: fadein3 1.5s;}

/*
.ffx
{
	display: flex;   
	grid-gap: 20px;
	flex-direction: row;	
	flex-wrap: wrap;

}
.ffx > .ffx-em
{
	flex:1;

	border:1px solid orange;
	width:100%;
	min-width:200px;

	padding-top:100%;
}
*/