#alert
	{position: absolute; z-index:1001; background-color:#fff; left:0; top:0; min-height: 10px; display:none; padding: 50px 100px; border: 3px solid #6d6d6d; box-shadow:3px 3px 15px #fff; box-sizing:border-box;}

#alert .txt, #loader .txt
	{text-align:center;}

#alert .description
	{text-align:center; margin-top:20px; font-size:0.8em;}


#loader
	{position: absolute; z-index:1001; left:0; top:0; min-height: 10px; display:none; padding: 50px; box-sizing:border-box;}

#loader > .img
	{text-align:center; margin-bottom:20px;}



.btn
	{text-align:center; margin-top:30px;}

button
	{padding: 10px 30px; border: none; background-color:#ff582b; color:#fff; font-size: 1.3em; border: 3px solid #f90; cursor: pointer;}


#bg
	{position: absolute; z-index:1000; background-color:rgba(255,255,255,0.7); left:0; top:0; width: 100%; height: 100%; display:none;}