<div class="tbl full res_a bd-l bd-b" id="currentPage">
	<div class="td l t half bd-t bd-r">
		
		<div class="fadeIn contentPadding" style="background-color:#fff;">

			<ng-container *ngTemplateOutlet="elements1"></ng-container>

			<div class="mgt30 mgb30">
			<app-persons-count></app-persons-count>
			</div>

			<ng-container *ngTemplateOutlet="elements2"></ng-container>

			<div class="mgt30"><app-data-sheet></app-data-sheet></div>

		</div>

	</div>
	<div class="td l t bd-t bd-r" style="height:100%;" id="rightSide">
		
		<div class="tbl full fullh" id="rightSideContent">
			<div class="tr">
				<div class="td" style="height:50%; padding:5px; background-color:#fff; position:relative;">

					<div style="position:absolute; z-index:3; right:0; top:0; margin:5px;" class="fadeIn3">
						<app-rotator></app-rotator>
					</div>
					
					<app-house-image></app-house-image>

				</div>
			</div>
			<div class="tr">
				<div class="td bd-t" style="background-color:#fff; padding:5px; height:50%; overflow:hidden;">

					<div class="fadeIn2 c-white" style="background-color:#01bab2; padding:10px; height:100%; border-bottom:5px solid #fff;">
						<ng-container *ngTemplateOutlet="results"></ng-container>
					</div>

				</div>
			</div>
		</div>		

	</div>
</div>

<ng-template #elements1>

	<div class="tbl full item res_c">
		<div class="tr">
			<div class="td l b center-res"><p class="n">Szczelność<br>Budynku</p></div>
			<div class="td"><div id="suw_szczelosc_bud"></div></div>
		</div>
		<div class="tr">
			<div class="td">&nbsp;</div>
			<div class="td">&nbsp;</div>
		</div>
		<div class="tr">
			<div class="td l b center-res"><p class="n">Wentylacja</p></div>
			<div class="td"><div id="suw_wentylacja"></div></div>
		</div>
	</div>


	<div class="tbl full mgt40">
		<div class="td l m pdr10 bold upper f-min">Temperatura zewnętrzna</div>
		<div class="td m" style="width:100%;"><hr></div>
	</div>

	<p>&nbsp;</p>

	<div class="tbl full res_c item">
		<div class="tr">
			<div class="td l b center-res">
				<p>Pory roku</p>
			</div>
			<div class="td">
				<div id="suw_temp_pory"></div>
			</div>
		</div>
		<div class="tr"><div class="td">&nbsp;</div></div>
	</div>

</ng-template>

<ng-template #elements2>

	<div>
		<div style="background-color:#e5f8f7;" class="center pdt20 pdb20">
			
			<div class="tbl mgat" id="images3D">
				<div class="tr item item1">
					<div class="td m r">Wentylacja<br>grawitacyjna</div>
					<div class="td href" (click)="clickImage(1)"><img src="assets/img/air_house_1.png" alt="" title="" class="scale"></div>
				</div>
				<div class="tr"><div class="td">&nbsp;</div></div>
				<div class="tr item item2">
					<div class="td m r">Wentylacja<br>mechaniczna<br>z&nbsp;odzyskiem&nbsp;ciepła</div>
					<div class="td href" (click)="clickImage(2)"><img src="assets/img/air_house_2.png" alt="" title="" class="scale"></div>
				</div>				
				<div class="tr"><div class="td">&nbsp;</div></div>
				<div class="tr item item3">
					<div class="td m r">Wentylacja<br>mechaniczna<br>z&nbsp;odzyskiem<br>ciepła<br>i&nbsp;czujnikiem CO<sub>2</sub></div>
					<div class="td href" (click)="clickImage(3)"><img src="assets/img/air_house_3.png" alt="" title="" class="scale"></div>
				</div>		
			</div>
		</div>
	</div>

</ng-template>

<ng-template #results>

	Ilość produkowanej wilgoci <span class="bold">{{resultsData.ilosc_wilgoci}} g/h | {{resultsData.ilosc_wilgoci_m3}} g/m<sup>3</sup></span>

	<br><br>

	Parametry powietrza wewnętrznego zmieszanego <span class="bold">{{resultsData.wilgotnosc_wzgledna}} %</span>

	<div style="background:url(assets/img/air_layer_bg1.png) center top repeat-y; background-size:contain; border:2px solid #fff;" class="mgt10">
		<div><img src="assets/img/air_suw_arr.png" alt="" title="" style="position:relative; top:-4px; left:{{resultsData.wilgotnosc_wzgledna-1}}%;"></div>
	</div>

	<p>&nbsp;</p>

	Q<sub>ves,n</sub> - straty przez wentylację:&nbsp;<span class="bold">??? kWh/rok</span>

	<br><br>

	Poziom CO<sub>2</sub>:&nbsp;<span class="bold">{{resultsData.stezenie_co2}} ppm</span>

	<div style="background:url(assets/img/air_layer_bg2.png) center top repeat-y; background-size:contain; border:2px solid #fff;" class="mgt10">
		<div><img src="assets/img/air_suw_arr.png" alt="" title="" style="position:relative; top:-4px; left:50%;"></div>
	</div>


	<p>&nbsp;</p>
	
	<div class="tbl full res_c">
		<div class="td half c m">

			<button (click)="clickBtn('zalozenia');">Założenia wyliczeń</button>

		</div>
		<div class="td sep">&nbsp;</div>
		<div class="td c m">

			<button (click)="clickBtn('wyliczenia');">Zobacz szczegółowe wyliczenia</button>

		</div>
	</div>

</ng-template>

<div id="zalozenia_wyliczen" style="display:none;">

	<div class="tbl">
		<div class="tr">
			<div class="td r">Czy była przeprowadzana szczelność budynku:</div>
			<div class="td pdl10 pdt10 bold">{{constValues.szczelnosc_test==true?"Tak":"Nie"}}</div>
		</div>
		<div class="tr">
			<div class="td r">Strumień wentylacyjny</div>
			<div class="td pdl10 pdt10 bold">{{constValues.strumien_wentylacyjny}}</div>
		</div>
		<div class="tr">
			<div class="td r">Temperatura zewnętrzna</div>
			<div class="td pdl10 pdt10 bold">{{constValues.temperatura_zewnetrzna}}</div>
		</div>
		<div class="tr">
			<div class="td r">Temperatura wewnętrzna</div>
			<div class="td pdl10 pdt10 bold">{{constValues.temperatura_wewnetrzna}}</div>
		</div>
		<div class="tr">
			<div class="td r">Wilgotność zewnętrzna</div>
			<div class="td pdl10 pdt10 bold">{{constValues.wilgotnosc_zewn}}</div>
		</div>
		<div class="tr">
			<div class="td r">Bieg rekuperatora</div>
			<div class="td pdl10 pdt10 bold">{{constValues.bieg_rekuperatora}}</div>
		</div>
		<div class="tr">
			<div class="td r"></div>
			<div class="td pdl10 pdt10 bold">{{constValues.co2_1_os}}</div>
		</div>
		<div class="tr">
			<div class="td r"></div>
			<div class="td pdl10 pdt10 bold">{{constValues.co2_1_os_m3}}</div>
		</div>
		<div class="tr">
			<div class="td r"></div>
			<div class="td pdl10 pdt10 bold">{{constValues.zewn_co2_stezenie}}</div>
		</div>
	</div>

</div>