

.item p.n
	{font-weight: 700; text-transform:uppercase; font-size:0.8em;}
.item p.d
	{font-size:0.7em;}


button
	{box-sizing:border-box; width:100%;  padding:10px; background-color:#fff; color:#01bab2; text-transform:uppercase; font-weight:700; font-size:0.9em; border: none; cursor: pointer;}



.bd
	{border:5px solid #01bab2;}
.bd-l
	{border-left:5px solid #01bab2;}
.bd-t
	{border-top:5px solid #01bab2;}
.bd-r
	{border-right:5px solid #01bab2;}
.bd-b
	{border-bottom:5px solid #01bab2;}




#images3D .tr.item .td:first-child
	{text-transform:uppercase; padding-right: 20px;}
#images3D .tr
	{opacity:0.25;}

#images3D .tr.item.set
	{opacity:1;}
#images3D .tr.item.set .td:first-child
	{color:#1d6562;}