.allApplication
	{padding: 0px;}
.allApplication > div
	{box-shadow:0 0 5px #999;}

.rightMainContainer
	{}


.left_side
	{max-width: 120px; width: 15vw;}

div.item
	{border-width:5px 5px 0 5px; border-style:solid; border-color:#fff; cursor: pointer;}
div.item > .tbl
	{width: 100%; min-height:120px;}

div.item:last-child
	{border-bottom-width:5px;}

div.item .img
	{color:#fff; padding: 5px; width: 100%;}
div.item .img img
	{height: 60px; margin-bottom: 0px;}
div.item .img p
	{font-weight:700; font-size:0.8em; text-transform:uppercase;}
div.item .txt
	{color:#fff; padding: 10px 10px 10px 20px; font-size:1.5em; font-family:font_bold; text-transform:uppercase;}

div.item > .tbl > .td:first-child > div
	{font-family:font_bold; font-size:0.9em; padding:0 10px 10px 10px;}

/*
.left_side.selected .img
	{padding:10px 25px;}
*/

/*
.item.params div
	{color:#000;}
*/



div.item.params
	{background-color:#b6b6b6;}
div.item.term
	{background-color:#f27f9e;}
div.item.air
	{background-color:#80dcd9;}
div.item.aku
	{background-color:#fea885;}
div.item.wiz
	{background-color:#7f9fc6;}
/*
div.left_side.none div.item.params
	{background-color:#6d6d6d;}
div.left_side.none div.item.term
{background-color:#e4003b;}
div.left_side.none div.item.air
	{background-color:#01bab2;}
div.left_side.none div.item.aku
	{background-color:#ff530b;}
div.left_side.none div.item.wiz
	{background-color:#014090;}
*/
div.left_side.params div.item.params
	{background-color:#6d6d6d; border-right-color:#6d6d6d; border-left-color:#6d6d6d; border-top-color:#6d6d6d;}
div.left_side.term div.item.term
	{background-color:#e4003b; border-right-color:#e4003b; border-left-color:#e4003b;}
div.left_side.air div.item.air
	{background-color:#01bab2; border-right-color:#01bab2;}
div.left_side.aku div.item.aku
	{background-color:#ff530b; border-right-color:#ff530b;}
div.left_side.wiz div.item.wiz
	{background-color:#014090; border-right-color:#014090;}



@media screen and (max-width: 600px)
{
	.left_side
		{max-width: 80px; width: auto; font-size:0.65em;}

	div.item .img
		{padding: 2px;}
	div.item .img img
		{height: 30px !important;}
	div.item .img p
		{}

	div.item > .tbl
		{min-height:80px;}
}