<div class="center wh" style="position:relative; background:rgba(0,0,0,0.4); margin:auto;">	
	
	<img src="assets/img/params_rose.png" alt="" title="" style="width:90%; margin-top:5px;" class="ww">
	
	<img src="assets/img/params_house.png" alt="" title="" style="width: 100px; height: 100px; position:absolute; z-index:5; left:calc(50% - 50px); top:calc(50% - 60px);" id="houseRotator">

	<div style="position:absolute; left:0; bottom:0; background:rgba(0,0,0,0.6); z-index:4;">
		<img src="assets/img/params_arr_minus.png" alt="" title="" style="width:40px;" class="href" (click)="clickArrow(-1);">
	</div>
	
	<div style="position:absolute; right:0; bottom:0; background:rgba(0,0,0,0.6); z-index:3;">
		<img src="assets/img/params_arr_plus.png" alt="" title="" style="width:40px;" class="href" (click)="clickArrow(1);">
	</div>

	<img src="assets/img/rotator_camera.png" alt="" title="" style="width:20px; position:absolute; left:calc(50% - 9px); bottom:2px; z-index:2;">

</div>