
<div style="border-top:5px solid #6d6d6d; border-bottom:5px solid #6d6d6d; border-left:5px solid #6d6d6d; background-color:#fff; padding:20px; display: inline-block;">

	<div class="tbl mgb10">
		<div class="td m"><img src="assets/img/ico_map.png" alt="" title=""></div>
		<div class="td m pdl10">
			<p class="bold">Lokalizacja</p>
			<p class="f-min">Wpisz adres lokalizacji lub wskaż na mapie</p>
		</div>
	</div>

	<div class="inputOutline">
		<div class="tbl full">
			<div class="td m">
				<input type="text" (keyup.enter)="clickSearch();" value="{{params.findAddressStr}}" (input)="onChangeInputData('address', $event.target)" id="addressInput">
			</div>
			<div class="td c m" style="width:40px; height:40px; background-color:#ff582b;"><i class="fa fa-search c-white f-plus href" aria-hidden="true" (click)="clickSearch();"></i></div>
		</div>		
	</div>

	<app-gg-map></app-gg-map>
	
	<div class="tbl mgt30 mgb10">
		<div class="td m"><img src="assets/img/ico_position.png" alt="" title=""></div>
		<div class="td m pdl10">
			<p class="bold">Położenie budynku</p>
			<p class ="f-min">Wybierz w którą stronę świata zwrócony jest budynek</p>
		</div>
	</div>

	<div class="center" style="background:url(assets/img/params_grass.jpg) center center; background-size:cover;position:relative;">		
		
		<img src="assets/img/params_rose.png" alt="" title="">
		
		<img src="assets/img/params_house.png" alt="" title="" style="position:absolute; left:calc(50% - 90px); top:calc(50% - 90px);" id="houseRotator">

		<img src="assets/img/params_arr_minus.png" alt="" title="" style="position:absolute; left:calc(10%); bottom: 20px;" class="href" (click)="clickArrow(-1);">
		<img src="assets/img/params_arr_plus.png" alt="" title="" style="position:absolute; right:calc(10%); bottom: 20px;" class="href" (click)="clickArrow(1);">
	
	</div>

	

	<div class="tbl mgt30 mgb10">
		<div class="td">
			<div class="tbl">
				<div class="td m"><img src="assets/img/ico_users.png" alt="" title=""></div>
				<div class="td m pdl10">
					<p class="bold">Ilość osób w budynku</p>
					<p class ="f-min">Wpisz liczbę osób przebywających w budynku</p>
				</div>
			</div>
		</div>
		<div class="td">&nbsp;&nbsp;&nbsp;&nbsp;</div>
		<div class="td m inputOutline">
			<div class="ib " style="margin:auto;">
				<input type="number" value="{{params.persons}}" step="1" (input)="onChangeInputData('people_count', $event.target)" min="1" max="100" pattern="[0-9]{1,2}">
			</div>
		</div>
	</div>

	

	<div class="mgt50" style="background-color:#6d6d6d; padding:10px;">
		<div class="tbl full">
			<div class="td c c-white bold">
				Rozpoczynasz konfigurację budynku,<br>
				którego techniczne parametry startowe<br>
				spełniają minimalne wymogi<br>
				Warunków Technicznych 2021
			</div>
			<div class="td m c">
				<span (click)="clickNextButton();" class="f-plus c-white bold href">DALEJ</span>
			</div>
		</div>
	</div>


</div>

<div style="position:absolute; right:0; bottom:0; width: 50%; background-color:rgba(250,250,250,0.9);">
	
	<div class="tbl full">
		<div class="td l t half pd20">
			
			<p class="upper bold mgb30">Dom jednorodzinny<br>z poddaszem użytkowym</p>

			<p>Minimalistyczny design połączony z klasyczną bryłą domu o dwuspadowym dachu. 
			<br><br>
			Funkcjonalne wnętrze o otwartym układzie, <br>
			który podnosi komfort życia. 
			<br><br>
			Dom niskoenergetyczny H1 wybudowany przez firmę EcoReadyHouse zgodnie z wymaganiami standardu Multi Comfort Saint-Gobain.
			</p>

		</div>
		<div class="td c t pd20 c-white" style="background-color:#6d6d6d;">
			
			<p>Nazwa budynku</p>
			<p class="bold">EcoReadyHouse - H1</p>

			<p class="mgt20">Lokalizacja</p>
			<p class="bold">Tychowo /k.Stargardu</p>

			<p class="mgt20">Typ budynku</p>
			<p class="bold">niskoenergetyczny, jednorodzinny</p>

			<p class="mgt20">Technologia</p>
			<p class="bold">prefabrykat i szkielet drewniany</p>

			<p class="mgt20">Powierzchnia</p>
			<p class="bold">143 m2</p>

			<p class="mgt20">Rok oddania do użytku</p>
			<p class="bold">2014</p>

			<p class="mgt20">Wykonawca</p>
			<p class="bold">EcoReadyHouse</p>

		</div>
	</div>

</div>