input[type=text], input[type=number]
	{border: none; width: 100%; padding: 5px; box-sizing:border-box; outline: none;}

input[type=number]
	{font-weight:700;}

.inputOutline
	{border:1px solid #dddddd; height: 40px;}