.mainElement
	{
		border-top:5px solid #014090; border-bottom:5px solid #014090; border-left:5px solid #014090; background-color:#fff; padding:20px; display: inline-block;
		min-width:300px;
	}

.item
	{display:table; width: 100%;}
.item > div
	{display:table-cell;}
.item > div:first-child
	{width: 120px; text-align:right; vertical-align:bottom; padding-right:20px;}
.item > div:last-child
	{padding-bottom:4px;}

.item > div:first-child > p
	{text-transform:uppercase; font-size:0.8em;}



button
	{box-sizing:border-box; width:100%;  padding:10px; background-color:#014090; color:#fff; text-transform:uppercase; font-weight:700; font-size:0.9em; border: none; cursor: pointer;}