<div class="tbl">

	<div class="td t">

		<div class="mainElement" style="margin-top:440px; position:relative; z-index:2;">

			<div class="tbl full">
				<div class="td l m pdr10 bold upper f-min">Lokalizacja</div>
				<div class="td m" style="width:100%;"><hr></div>
			</div>

			<div class="center upper mgt20">
				<input type="radio" name="lokalizacja" id="msc_zakopane"> <label for="msc_zakopane" class="href">Zakopane</label>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="radio" name="lokalizacja" id="msc_gdansk"> <label for="msc_gdansk" class="href">Gdańsk</label>
			</div>


			<div class="mgt20 mgb20 tbl full">
				<div class="td l m pdr10 bold upper f-min">Okna</div>
				<div class="td m" style="width:100%;"><hr></div>
			</div>

			<div class="item">
				<div>
					<p>Powierzchnia</p>
				</div>
				<div>
					<div id="suw_powierzchnia"></div>
				</div>
			</div>

			<p>&nbsp;</p>

			<div class="item">
				<div>
					<p>Pakiet szybowy</p>
				</div>
				<div>
					<div id="suw_szyby"></div>
				</div>
			</div>

			<p>&nbsp;</p>

			<div class="item">
				<div>
					<p>Zacienienie</p>
				</div>
				<div>
					<div id="suw_zacienienie"></div>
				</div>
			</div>		

			
		</div>

	</div>

	<div class="td pdl20 pdt30 pdb30">
	
		<div><img src="assets/img/wiz_home.jpg" alt="" title=""></div>

		<div style="background-color:#333; color:#fff; padding:200px 0; text-align:center;">Film</div>

	</div>

	<div class="td t">
			
		<div style="padding:300px 0 0 20px;"><img src="assets/img/wiz_skala.png" alt="" title=""></div>

	</div>

</div>

<div style="position:absolute; z-index:3; right:0; top:0; margin:20px;">
	<app-rotator></app-rotator>
</div>

<div style="position:absolute; z-index:4; right:0; bottom:0; margin:20px;">
	<button (click)="clickBtnRaport();">Szczegółowy raport</button>
</div>