
/* You can add global styles to this file, and also import other style files */

.href
	{cursor:pointer;}







p		{margin:0;}
a		{text-decoration:none;}
.href 	{cursor:pointer;}
/*.bold	{font-weight:700;}*/
.italic 	{font-style:italic;}
.upper	{text-transform:uppercase;} 
.left		{text-align: left;}
.right	{text-align: right;}
.center	{text-align: center;}
.c-black	{color:#000 !important;}
.c-white	{color:#fff !important;}
.c-red 		{color:#e20026;}
.c-yellow	{color:#ffbf1a;}
.c-grey		{color:#777;}
.ib		{display:inline-block;}
.block	{display:block;}
.both 	{clear:both;}
.both:before 	{content:""; display:block; clear:both;}
.nobr {white-space:nowrap;}

.bsb		{box-sizing:border-box;}
.bsc		{box-sizing:content;}

.mgat 	{margin:auto;}
.mglat 	{margin-left:auto;}
.mgrat 	{margin-right:auto;}

.mgt100 	{margin-top:100px;}
.mgt50	{margin-top:50px;}
.mgt20 	{margin-top:20px;}
.mgt40 	{margin-top:40px;}
.mgt30 	{margin-top:30px;}
.mgt20 	{margin-top:20px;}
.mgt10 	{margin-top:10px;}
.mgt5 	{margin-top:5px;}
.mgb5  	{margin-bottom:5px;}
.mgb10 	{margin-bottom:10px;}
.mgb20 	{margin-bottom:20px;}
.mgb30 	{margin-bottom:30px;}
.mgb40 	{margin-bottom:40px;}
.mgb50 	{margin-bottom:50px;}
.mgb100 	{margin-bottom:100px;}
.mg5  	{margin:5px;}
.mg10 	{margin:10px;}
.mg20 	{margin:20px;}
.mg30 	{margin:30px;}
.mg40 	{margin:40px;}
.mg50 	{margin:50px;}
.mg100 	{margin:100px;}
.pdt100 	{padding-top:100px;}
.pdt50	{padding-top:50px;}
.pdt40 	{padding-top:40px;}
.pdt30 	{padding-top:30px;}
.pdt20 	{padding-top:20px;}
.pdt10 	{padding-top:10px;}
.pdt5 	{padding-top:5px;}
.pdb5  	{padding-bottom:5px;}
.pdb10 	{padding-bottom:10px;}
.pdb20 	{padding-bottom:20px;}
.pdb30 	{padding-bottom:30px;}
.pdb40 	{padding-bottom:40px;}
.pdb50 	{padding-bottom:50px;}
.pdb100 	{padding-bottom:100px;}
.pdl5 	{padding-left:5px;}
.pdl10 	{padding-left:10px;}
.pdl20 	{padding-left:20px;}
.pdl30 	{padding-left:30px;}
.pdl40 	{padding-left:40px;}
.pdl50 	{padding-left:50px;}
.pdl100 	{padding-left:100px;}
.pdr5 	{padding-right:5px;}
.pdr10 	{padding-right:10px;}
.pdr20 	{padding-right:20px;}
.pdr30 	{padding-right:30px;}
.pdr40 	{padding-right:40px;}
.pdr50 	{padding-right:50px;}
.pdr100 	{padding-right:100px;}
.pd5 	{padding:5px;}
.pd10 	{padding:10px;}
.pd20 	{padding:20px;}
.pd30 	{padding:30px;}
.pd40 	{padding:40px;}
.pd50 	{padding:50px;}
.pd100 	{padding:100px;}

.f-plus	{font-size:1.2em;}
.f-min	{font-size:0.8em;}





div.tbl
	{display:table;}
div.tbl.full
	{width:100%;}
div.tbl.fullh
	{height:100%;}



div.tbl > div.tr
	{display:table-row;}
div.tbl > div.tr > div.td , div.tbl > div.td
	{display:table-cell;}




div.tbl > div.tr > div.td.t, div.tbl > div.td.t
	{vertical-align:top;}

div.tbl > div.tr > div.td.m, div.tbl > div.td.m
	{vertical-align:middle;}

div.tbl > div.tr > div.td.b, div.tbl > div.td.b
	{vertical-align:bottom;}




div.tbl > div.tr > div.td.l, div.tbl > div.td.l
	{text-align:left;}

div.tbl > div.tr > div.td.c, div.tbl > div.td.c
	{text-align:center;}

div.tbl > div.tr > div.td.r, div.tbl > div.td.r
	{text-align:right;}




div.tbl > div.tr > div.td.half, div.tbl > div.td.half
	{width:50%;}

div.tbl > div.tr > div.td.sep, div.tbl > div.td.sep
	{width:2%; background: none; border: none;}

