.mainElement
	{
		border-top:5px solid #e4003b; border-bottom:5px solid #e4003b; border-left:5px solid #e4003b; background-color:#fff; padding:20px; display: inline-block;
		min-width:600px;
	}

.item1
	{display:table; width: 100%;}
.item1 > div
	{display:table-cell;}
.item1 > div:first-child
	{width: 200px;}

.item1 > div:first-child > p:first-child
	{font-weight: 700; text-transform:uppercase; font-size:0.8em;}
.item1 > div:first-child > p:last-child
	{font-size:0.7em;}



button
	{box-sizing:border-box; width:100%;  padding:10px; background-color:#fff; color:#e4003b; text-transform:uppercase; font-weight:700; font-size:0.9em; border: 1px solid #cc0035; cursor: pointer;}

.bt
	{vertical-align:bottom; padding-bottom: 2px; }

hr
	{color:#d8d8d8;}