
<div class="mainElement" style="margin-top:50px; width:40%;">


	<div class="item1">
		<div>
			<p>Ściana zewnętrzna</p>
			<p>współczynnik U</p>
		</div>
		<div>
			<div id="suw_wsp_u_zewn"></div>
		</div>
	</div>

	<p>&nbsp;</p>

	<div class="item1">
		<div>
			<p>Dach, stropodach</p>
			<p>współczynnik U</p>
		</div>
		<div>
			<div id="suw_wsp_u_dach"></div>
		</div>
	</div>	
	
	<p>&nbsp;</p>

	<div class="item1">
		<div>
			<p>Podłoga na gruncie</p>
			<p>współczynnik U</p>
		</div>
		<div>
			<div id="suw_wsp_u_podloga"></div>
		</div>
	</div>	


	<p>&nbsp;</p>

	<div class="item1">
		<div>
			<p>Drzwi</p>
			<p>współczynnik U</p>
		</div>
		<div>
			<div id="suw_wsp_u_drzwi"></div>
		</div>
	</div>	


	<p>&nbsp;</p>

	<div class="item1">
		<div>
			<p>Okna połaciowe</p>
			<p>współczynnik U</p>
		</div>
		<div>
			<div id="suw_wsp_u_okna"></div>
		</div>
	</div>	

	<p>&nbsp;</p>

	<div class="tbl full">
		<div class="td l m pdr10 bold upper f-min">Okna</div>
		<div class="td m" style="width:100%;"><hr></div>
	</div>

	<p>&nbsp;</p>

	<div class="item1">
		<div class="right f-min bt pdr20">POWIERZCHNIA</div>
		<div>
			<div id="suw_okna_powierzchnia"></div>
		</div>
	</div>

	<p>&nbsp;</p>

	<div class="item1">
		<div class="right f-min bt pdr20">
			PAKIET SZYBOWY
		</div>
		<div>
			<div id="suw_okna_szyby"></div>
		</div>
	</div>

	<p>&nbsp;</p>

	<div class="item1">
		<div class="right f-min bt pdr20">
			ZACIENIENIE
		</div>
		<div>
			<div id="suw_okna_zacienienie"></div>
		</div>
	</div>	

	<p>&nbsp;</p>

	<hr>

	<p>&nbsp;</p>

	<div class="item1">
		<div><p>Szczelność<br>budynku</p></div>
		<div><div id="suw_szczelosc_bud"></div></div>
	</div>	

	<p>&nbsp;</p>

	<div class="item1">
		<div><p>Osłona przed<br>wiatrem</p></div>
		<div><div id="suw_oslona_wiatr"></div></div>
	</div>

	<p>&nbsp;</p>

	<div class="item1">
		<div><p>Wentylacja</p></div>
		<div><div id="suw_wentylacja"></div></div>
	</div>		

	<p>&nbsp;</p>

	<div class="tbl full">
		<div class="td l m pdr10 bold upper f-min">Źródła&nbsp;energii</div>
		<div class="td m" style="width:100%;"><hr></div>
	</div>

	<p>&nbsp;</p>

	<div class="item1">
		<div class="right f-min bt pdr20">C.O.</div>
		<div><div id="suw_co"></div></div>
	</div>

	<p>&nbsp;</p>

	<div class="item1">
		<div class="right f-min bt pdr20">C.W.U.</div>
		<div><div id="suw_cwu"></div></div>
	</div>

	<p>&nbsp;</p>

	<div class="item1">
		<div class="right f-min bt pdr20">Instalacja fotowoltaiczna</div>
		<div><div id="suw_foto"></div></div>
	</div>

</div>

<div style="position:absolute; z-index:3; right:0; top:0; margin:20px;">
	<app-rotator></app-rotator>
</div>

<div style="position:absolute; right:0; bottom:0; width: 50%; background-color:rgb(250,250,250);">
	
	<div class="tbl full">
		<div class="td l t half pd20">

			<div class="mgb20 black upper bold">Rozkład strat energii w budynku</div>
			
			<img src="assets/img/rozklad_strat_energii.png" alt="" title="" class="scale full">

		</div>
		<div class="td c t pd20 c-white" style="background-color:#e4003b;">

			<p>Całkowite zapotrzebowanie energii na ogrzewanie budynku</p>
			<p class="bold">EK = 28 kWh/m2 rok </p>

			<p class="mgt20">Całkowite zapotrzebowanie energii na klimatyzację budynku</p>
			<p class="bold">EC = 28 kWh/m2 rok</p>

			<p class="mgt20">Współczynnik odnawialnej energii pierwotnej</p>
			<p class="bold">EP = 28 kWh/m2 rok</p>

			<p class="mgt20">Szacunkowy koszt ogrzewania budynku</p>
			<p class="bold">3000 PLN/rok</p>

			<p class="mgt20">Szacunkowy koszt klimatyzacji budynku</p>
			<p class="bold mgb30">3000 PLN/rok</p>

			<button (click)="clickBtnRaport();">Zobacz szczegółowy raport</button>

		</div>
	</div>

</div>