
.item p.n
	{font-weight: 700; text-transform:uppercase; font-size:0.8em;}
.item p.d
	{font-size:0.7em;}



button
	{box-sizing:border-box; width:100%;  padding:10px; background-color:#fff; color:#e4003b; text-transform:uppercase; font-weight:700; font-size:0.9em; border: 1px solid #cc0035; cursor: pointer;}

.bt
	{vertical-align:bottom; padding-bottom: 2px; }

hr
	{color:#d8d8d8;}




.bd
	{border:5px solid #e4003b;}
.bd-l
	{border-left:5px solid #e4003b;}
.bd-t
	{border-top:5px solid #e4003b;}
.bd-r
	{border-right:5px solid #e4003b;}
.bd-b
	{border-bottom:5px solid #e4003b;}

@media screen and (max-width: 500px)
{
	#charttttt
		{width:200px !important; height:auto !important;}
}