

<div class="tbl full res_a bd-l bd-b" id="currentPage">
	<div class="td l t half bd-t bd-r">
		
		<div class="fadeIn contentPadding" style="background-color:#fff;">

			<ng-container *ngTemplateOutlet="elements"></ng-container>

			<div class="mgt30">
				<app-data-sheet></app-data-sheet>
			</div>

		</div>

	</div>
	<div class="td l t bd-t bd-r" style="height:100%;" id="rightSide">
		
		<div class="tbl full fullh" id="rightSideContent">
			<div class="tr">
				<div class="td" style="height:50%; padding:5px; background-color:#fff; position:relative;">

					<div style="position:absolute; z-index:3; right:0; top:0; margin:5px;" class="fadeIn3">
						<app-rotator></app-rotator>
					</div>
					
					<app-house-image></app-house-image>

				</div>
			</div>
			<div class="tr">
				<div class="td bd-t" style="background-color:#fff; padding:5px;">

					<div class="fadeIn2">
						<ng-container *ngTemplateOutlet="results"></ng-container>
					</div>

				</div>
			</div>
		</div>		

	</div>
</div>

<ng-template #elements>

	<div class="tbl full res_c item">
		<div class="tr">
			<div class="td l b center-res">
				<p class="n">Ściana zewnętrzna</p>
				<p class="d">współczynnik U</p>
			</div>
			<div class="td"><div id="suw_wsp_u_zewn"></div></div>
		</div>
		<div class="tr"><div class="td">&nbsp;</div></div>
		<div class="tr">
			<div class="td l b center-res">
				<p class="n">Dach, stropodach</p>
				<p class="d">współczynnik U</p>
			</div>
			<div class="td"><div id="suw_wsp_u_dach"></div></div>
		</div>
		<div class="tr"><div class="td">&nbsp;</div></div>
		<div class="tr">
			<div class="td l b center-res">
				<p class="n">Podłoga na gruncie</p>
				<p class="d">współczynnik U</p>
			</div>
			<div class="td"><div id="suw_wsp_u_podloga"></div></div>
		</div>
		<div class="tr"><div class="td">&nbsp;</div></div>
		<div class="tr">
			<div class="td l b center-res">
				<p class="n">Drzwi</p>
				<p class="d">współczynnik U</p>
			</div>
			<div class="td"><div id="suw_wsp_u_drzwi"></div></div>
		</div>
		<div class="tr"><div class="td">&nbsp;</div></div>
		<div class="tr">
			<div class="td l b center-res">
				<p class="n">Okna połaciowe</p>
				<p class="d">współczynnik U</p>
			</div>
			<div class="td"><div id="suw_wsp_u_okna"></div></div>
		</div>
	</div>

	<p>&nbsp;</p>
	<p>&nbsp;</p>

	<div class="tbl full">
		<div class="td l m pdr10 bold upper f-min">Okna</div>
		<div class="td m" style="width:100%;"><hr></div>
	</div>

	<p>&nbsp;</p>

	<div class="tbl full res_c item">
		<div class="tr">
			<div class="td l b center-res" style="width:30%;">
				POWIERZCHNIA
			</div>
			<div class="td"><div id="suw_okna_powierzchnia"></div></div>
		</div>
		<div class="tr"><div class="td">&nbsp;</div></div>
		<div class="tr">
			<div class="td l b center-res">
				PAKIET SZYBOWY
			</div>
			<div class="td"><div id="suw_okna_szyby"></div></div>
		</div>
		<div class="tr"><div class="td">&nbsp;</div></div>
		<div class="tr">
			<div class="td l b center-res">
				ZACIENIENIE
			</div>
			<div class="td"><div id="suw_okna_zacienienie"></div></div>
		</div>
	</div>


	<p>&nbsp;</p>
	<hr>
	<p>&nbsp;</p>

	<div class="tbl full res_c item">
		<div class="tr">
			<div class="td l b center-res">
				<p class="n">Szczelność<br>budynku</p>
			</div>
			<div class="td"><div id="suw_szczelosc_bud"></div></div>
		</div>
		<div class="tr"><div class="td">&nbsp;</div></div>
		<div class="tr">
			<div class="td l b center-res">
				<p class="n">Osłona przed<br>wiatrem</p>
			</div>
			<div class="td"><div id="suw_oslona_wiatr"></div></div>
		</div>
		<div class="tr"><div class="td">&nbsp;</div></div>
		<div class="tr">
			<div class="td l b center-res">
				<p class="n">Wentylacja</p>
			</div>
			<div class="td"><div id="suw_wentylacja"></div></div>
		</div>
	</div>


	<p>&nbsp;</p>

	<div class="tbl full">
		<div class="td l m pdr10 bold upper f-min">Źródła&nbsp;energii</div>
		<div class="td m" style="width:100%;"><hr></div>
	</div>

	<div class="tbl full res_c item">
		<div class="tr">
			<div class="td l b center-res">
				C.O.
			</div>
			<div class="td"><div id="suw_co"></div></div>
		</div>	
		<div class="tr"><div class="td">&nbsp;</div></div>
		<div class="tr">
			<div class="td l b center-res">
				C.W.U.
			</div>
			<div class="td"><div id="suw_cwu"></div></div>
		</div>
		<div class="tr"><div class="td">&nbsp;</div></div>
		<!--
		<div class="tr">
			<div class="td l b center-res">
				Instalacja fotowoltaiczna
			</div>
			<div class="td"><div id="suw_foto"></div></div>
		</div>				
		-->
	</div>
	
	<hr>	

	<div class="tbl full res_c item">
		<div class="tr">
			<div class="td l b center-res">
				System chłodzenia
			</div>
			<div class="td" style="width:70%;"><div id="system_chlodzenia"></div></div>
		</div>		
	</div>

</ng-template>

<ng-template #results>
	
	
	<div class="tbl full res_b">
		<div class="td c t half pd10">

			<div class="mgb20 black upper bold">Rozkład strat energii w budynku</div>
			Obecnie trwają prace nad wykresem ;-)<br><br>

			<canvas id="charttttt" style="margin:auto; width:320px; height:330px;"></canvas>

			<!--<img src="assets/img/rozklad_strat_energii.png" alt="" title="" class="scale full">-->

		</div>
		<div class="td c t pd20 c-white" style="background-color:#e4003b;">

			<p>Całkowite zapotrzebowanie energii na ogrzewanie budynku</p>
			<p [ngClass]="['bold', resultsData.ek?'':'blur_value']">EK = {{resultsData.ek || "--- --- ---"}} kWh/m2 rok </p>
			<!--
			<p class="mgt20">Całkowite zapotrzebowanie energii na klimatyzację budynku</p>
			<p [ngClass]="['bold', resultsData.ec?'':'blur_value']">EC = {{resultsData.ec || "--- --- ---"}} kWh/m2 rok</p>
			-->
			<p class="mgt20">Współczynnik odnawialnej energii pierwotnej</p>
			<p [ngClass]="['bold', resultsData.ep?'':'blur_value']">EP = {{resultsData.ep || "--- --- ---"}} kWh/m2 rok</p>

			<p class="mgt20">Szacunkowy koszt ogrzewania budynku</p>
			<p [ngClass]="['bold', resultsData.price_heat?'':'blur_value']">{{resultsData.price_heat || "--- --- ---"}} PLN/rok</p>

			<!--
			<p class="mgt20">Szacunkowy koszt klimatyzacji budynku</p>
			<p [ngClass]="['bold', resultsData.price_air_cond?'':'blur_value']">{{resultsData.price_air_cond || "--- --- ---"}} PLN/rok</p>
			-->

			<div class="mgt30">
				<button (click)="clickBtnRaport();">Zobacz szczegółowy raport</button>
			</div>

		</div>
	</div>

	

</ng-template>
