<!--
<iframe src="http://localhost/hph/pm.html" frameborder="0" style="width:300px; height:300px;" id="ramka_iframe"></iframe>
<iframe #iframe_calc_acoustic [src]="acousticUrl | safe" title="H+H Kalkulator Akustyczny" id="iframe_calc_acoustic"></iframe>
-->
<!--
<iframe #ramka_iframe src="https://test.hybrid.pl/hph/akustyka_m/m.html" title="H+H Kalkulator Akustyczny" id="ramka_iframe"></iframe>

<br>
<span (click)="testsend2iframe()">wyslij do ramki</span>
<br><br>
<input class="p34" type="number" step="0.01" id="sciana_szerokosc" (change)="onChangeInputData('sciana_szerokosc', $event.target)" value="{{data_input.sciana_szerokosc}}">			




	

<div class="td">
	<ng-container *ngTemplateOutlet="select_template; context:{n:'sciana_id', v:data_input.sciana_id, items:sciany_lista} "></ng-container>
</div>

<ng-template #select_template let-obj_list="items" let-ident="n" let-sel="v">
	<select name="" (change)="onChangeInputData(ident, $event.target)"style="padding:10px; width:100%;">
		<option value="0">---</option>
		<option *ngFor="let opt of stropy | keyvalue" value="{{opt.key}}">{{opt.value}}</option>
		<option *ngFor="let opt of obj_list" [value]="opt.id" [selected]="sel==opt.id">{{opt.name}}</option>
	</select>
</ng-template>
-->


<div style="background-color:lime;">
Lorem ipsum, dolor sit amet consectetur adipisicing, elit. Cupiditate hic quod, accusantium corporis maxime aperiam harum similique, consectetur, iusto ratione repellat odio nostrum deleniti perferendis, tempora voluptas quisquam. Expedita, debitis?	
</div>

